<h2 mat-dialog-title>
    <!-- <button class="close-button" mat-button mat-dialog-close aria-label="Exit"><mat-icon>close</mat-icon></button> -->
</h2>
<mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{data.type}} Information
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{data.type}} File Information
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="detail-section-buttons centered">
        <button mat-button mat-dialog-close cdkFocusInitial aria-label="Close">Close</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </div>
</mat-dialog-actions>

