.mat-expansion-panel-header {
    background-color: #03274B;
}

.mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
    color: #FFF;
    background-color: #03274B; 
}

.mat-expansion-panel-header:hover {
    background-color: #03274B !important;
    color: #FFF !important;
}

.mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
    color: #FFF;
    font-weight: 500;
}

.tableContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
}

.mat-column-FileName{
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #e0e0e0;
    align-self: stretch;
}

.mat-column-FileDate{
    padding: 10px;
    vertical-align: middle;
    align-self: stretch;
}

.mat-column-ReferenceDatum{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-Elevation{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-OffsetCorrection{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-WaterSurface{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
} 

.mat-column-GroundSurface{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
} 

.mat-header-cell {
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.87);
    font-size: 12px;
    vertical-align: middle;
    background-color: #f7f7f7;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
    overflow: auto;
    column-width: 170px;
}

.radio-button {
    margin: 5px;
}

.mat-form-field {
    margin: 15px;
    display: block;
}

.dateFields .mat-form-field {
    margin: 15px;
    display: block;
    width: 50%;
}

.dateFields {
    display: inline-flex;
}

.disabled {
    color: #000;
}

.date-input {
    height: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 5px;
    border: none;
}

.date-button {
    margin-left: 10px;
    border: 1px solid #404040;
    background-color: #FFF;
}

.form-header {
    font-weight: bold;
}

.ref-button-group {
    margin-top: 10px;
    text-align: center;
}

.save-btn {
    color: #F4F4F4;
}

.cancel-btn {
    margin-left: 10px;
    border: 1px solid #404040;
}

.close-button {
    float: right;
}

.close-btn {
    border: 1px solid #404040;
}

.add-button {
    border: 1px solid #404040;
}

.required {
    margin-right: 10px !important;
    color: #E70000 !important;
    font-weight: bold;
    display: inline-block;
    line-height: 36px !important;
    height: 36px;
}

.alert.alert-danger {
    color: #f44336;
}

.note {
    font-style: italic;
    margin: 5px;
}

.tapedowns {
    margin-left: 30px;
}

.tapedown-header {
    margin: 5px;
}

.inline-fields {
    display: inline-flex;
}

.inline-fields-70 {
    display: flex;
    align-items: center;
}

.inline-widths {
    flex: 0 0 70%;
}

.loading {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:9999;
}