<h1 mat-dialog-title>
    <mat-icon>info</mat-icon> About Ice Jams
  </h1>
  
  <mat-dialog-content id="aboutModal">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">info</mat-icon>
          About
        </ng-template>
        <p>
          Prototype ice jams web interface showcasing functionality for reviewing and entering ice jams information.
        </p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">question_answer</mat-icon>
          FAQs
        </ng-template>
  
        <h2>Ice Jams Frequently Asked Questions</h2>
        <label class="about-header"> What is Ice Jams?</label>
        <p>
          Ice jams along rivers cause flooding, scouring, injuries and loss of life, and structural and environmental
          damage; they are a major hazard across the northern United States (US).
        </p>
        <p>
          This project can be used by staff and authorized user groups from local, State and Federal agencies to collect new ice jam
          data, to view the data on an interactive map, and then to prepare those data for submission to the CRREL
          Ice Jam Archive.
        </p>
        <label class="about-header"> Are there web services available for Ice Jams?</label>
        <p>
          There are web services available for this Ice Jams application. They are documented here: <a href="https://test.wim.usgs.gov/icejamsservices/#/" target="_blank">https://test.wim.usgs.gov/icejamsservices/#/</a>
        </p>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">contact_support</mat-icon>
          Contact
        </ng-template>
        <h3>Contact the Ice Jams team</h3>
        <p>
          Questions pertaining to the Ice Jams program at the USGS can be directed to Katherine Chase <b>kchase@usgs.gov</b>.
        </p>
        <p>
            Technical questions or comments about the Ice Jams website or database can be directed to the Ice Jams
            team at <b>lprivette@usgs.gov</b>.
        </p>
              
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">priority_high</mat-icon>
          Disclaimers
        </ng-template>
        <p>
          Application Developed in collaboration with the USGS Wyoming-Montana Water Science Center, 
          and is sponsored in part by <a href="https://my.usgs.gov/confluence/display/cdi/Home" target="_blank">The Community for Data Integration</a>.
        </p>
          <p><strong>USGS Data Disclaimer:</strong><br>
            Unless otherwise stated, all data, metadata and related materials are considered to satisfy the quality standards relative to the purpose for which the data were collected. Although these data and associated metadata have been reviewed for accuracy and completeness and approved for release by the U.S. Geological Survey (USGS), no warranty expressed or implied is made regarding the display or utility of the data for other purposes, nor on all computer systems, nor shall the act of distribution constitute any such warranty.</p>    
          <p><strong>USGS Software Disclaimer:</strong><br>
            This software has been approved for release by the U.S. Geological Survey (USGS). Although the software has been subjected to rigorous review, the USGS reserves the right to update the software as needed pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS or the U.S. Government as to the functionality of the software and related material nor shall the fact of release constitute any such warranty. Furthermore, the software is released on condition that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its authorized or unauthorized use.</p>    
          <p><strong>USGS Product Names Disclaimer:</strong><br>
            Any use of trade, firm, or product names is for descriptive purposes only and does not imply endorsement by the U.S. Government.</p>    
          <p><strong>Version: </strong>1.0.0</p>    
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>

    <div class="form-buttons-flex center">
      <button mat-button color="primary" type="submit" (click)="this.aboutDialogRef.close('cancel');">
        <mat-icon>close</mat-icon>&nbsp;Close
      </button>
    </div>
  
  </mat-dialog-actions>