<h1 mat-dialog-title><mat-icon>info</mat-icon> About STN</h1>

<mat-dialog-content id="aboutModal">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                About
            </ng-template>
            <p>
                This Short Term Network (STN) web interface is
                <b>under active development</b>.
            </p>
            <h4>Important usage notes and instructions</h4>
            <div>
                <p>
                    Many of the supplemental GIS data layers found in the map
                    are from a range of sources and are not maintained by WiM.
                    We offer these map layers as a decision support supplement
                    to the STN sites layer, but we cannot guarantee their
                    performance and availability. Many of these externally
                    maintained layers are large datasets and may load slowly
                    depending on network latency. In some cases they may fail to
                    load entirely when network latency is high.
                </p>
                <p>
                    Many of these outside layers are maintained by NOAA.
                    <a
                        href="https://www.lstsrv.ncep.noaa.gov/mailman/listinfo/ncep.list.idp-gis-status"
                        >Click here</a
                    >
                    to subscribe to a NOAA email list for GIS service status
                    updates.
                </p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">question_answer</mat-icon>
                FAQs
            </ng-template>

            <h2>STN Frequently Asked Questions</h2>
            <label class="about-header"> What is STN?</label>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt.
            </p>
            <label class="about-header">
                Are there web services available for STN?</label
            >
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">contact_support</mat-icon>
                Contact
            </ng-template>
            <h3>Contact the STN team</h3>
            <p>
                Questions pertaining to the STN program at the USGS can be
                directed to Athena Clark <b>athclark@usgs.gov</b>.
            </p>
            <p>
                Technical questions or comments about the STN website or
                database can be directed to the STN team at
                <b>lprivette@usgs.gov</b>.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">priority_high</mat-icon>
                Disclaimers
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                <strong>USGS Data Disclaimer:</strong><br />
                Unless otherwise stated, all data, metadata and related
                materials are considered to satisfy the quality standards
                relative to the purpose for which the data were collected.
                Although these data and associated metadata have been reviewed
                for accuracy and completeness and approved for release by the
                U.S. Geological Survey (USGS), no warranty expressed or implied
                is made regarding the display or utility of the data for other
                purposes, nor on all computer systems, nor shall the act of
                distribution constitute any such warranty.
            </p>
            <p>
                <strong>USGS Software Disclaimer:</strong><br />
                This software has been approved for release by the U.S.
                Geological Survey (USGS). Although the software has been
                subjected to rigorous review, the USGS reserves the right to
                update the software as needed pursuant to further analysis and
                review. No warranty, expressed or implied, is made by the USGS
                or the U.S. Government as to the functionality of the software
                and related material nor shall the fact of release constitute
                any such warranty. Furthermore, the software is released on
                condition that neither the USGS nor the U.S. Government shall be
                held liable for any damages resulting from its authorized or
                unauthorized use.
            </p>
            <p>
                <strong>USGS Product Names Disclaimer:</strong><br />
                Any use of trade, firm, or product names is for descriptive
                purposes only and does not imply endorsement by the U.S.
                Government.
            </p>
            <p><strong>Version: </strong>1.0.0</p>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="form-buttons-flex center">
        <button
            mat-button
            color="primary"
            type="submit"
            (click)="this.aboutDialogRef.close('cancel')"
        >
            <mat-icon>close</mat-icon>&nbsp;Close
        </button>
    </div>
</mat-dialog-actions>
