<h2 mat-dialog-title>
    Reference Datum
    <button class="close-button" mat-button mat-dialog-close aria-label="Exit"><mat-icon>close</mat-icon></button>
</h2>
<mat-dialog-content *ngIf="data.row_data">
  <!-- Reference Datum Dialog -->
    <mat-accordion multi="true">
        <mat-expansion-panel hideToggle [expanded]="infoExpanded" (opened)="infoExpanded = true" (closed)="infoExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="!infoExpanded" style="color: grey; font-weight: 500">
              Reference Datum Information
            </mat-panel-title>
            <mat-panel-title *ngIf="infoExpanded" style="color: #FFF; font-weight: 550">
              Reference Datum Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="table-container">
            <div class="cell-container">
              <p class="content-left">Name</p>
              <p class="content-right" *ngIf="data.row_data.name !== undefined && data.row_data.name !== ''; else nullName">{{data.row_data.name}}</p>
              <ng-template #nullName><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Type</p>
              <p class="content-right" *ngIf="data.row_data.op_type_id !== undefined && data.row_data.op_type_id !== '' && opType !== undefined && opType !== ''; else nullOPType">{{opType}}</p>
              <ng-template #nullOPType><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Description</p>
              <p class="content-right" *ngIf="data.row_data.description !== undefined && data.row_data.description !== undefined; else nullDesc">{{data.row_data.description}}</p>
              <ng-template #nullDesc><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Control Identifier</p>
              <div *ngIf="controlID !== undefined; else nullControlID">
                <div *ngFor="let control of controlID">
                  <p class="content-right">
                      {{control.identifier}} ({{control.identifier_type}})
                  </p>
                </div>
              </div>
              <ng-template #nullControlID><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Latitude</p>
              <p class="content-right" *ngIf="data.row_data.latitude_dd !== undefined && data.row_data.latitude_dd !== ''; else nullLat">{{data.row_data.latitude_dd}}</p>
              <ng-template #nullLat><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Longitude</p>
              <p class="content-right" *ngIf="data.row_data.longitude_dd !== undefined && data.row_data.longitude_dd !== ''; else nullLon">{{data.row_data.longitude_dd}}</p>
              <ng-template #nullLon><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Horizontal Datum</p>
              <p class="content-right"  *ngIf="data.row_data.hdatum_id !== undefined && data.row_data.hdatum_id !== '' && hdatum !== undefined && hdatum !== ''; else nullHDatum">{{hdatum}}</p>
              <ng-template #nullHDatum><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Horizontal Collection Method</p>
              <p class="content-right"  *ngIf="data.row_data.hcollect_method_id !== undefined && data.row_data.hcollect_method_id !== '' && hmethod !== '' && hmethod !== undefined; else nullHMethod">{{hmethod}}</p>
              <ng-template #nullHMethod><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Elevation</p>
              <p class="content-right" *ngIf="data.row_data.elev_ft !== undefined && data.row_data.elev_ft !== ''; else nullElev">{{data.row_data.elev_ft}} ft</p>
              <ng-template #nullElev><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Vertical Datum</p>
              <p class="content-right"  *ngIf="data.row_data.vdatum_id !== undefined && data.row_data.vdatum_id !== '' && vdatum !== '' && vdatum !== undefined; else nullVDatum">{{vdatum}}</p>
              <ng-template #nullVDatum><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Vertical Collection Method</p>
              <p class="content-right"  *ngIf="data.row_data.vcollect_method_id !== undefined && data.row_data.vcollect_method_id !== '' && vmethod !== '' && vmethod !== undefined; else nullVMethod">{{vmethod}}</p>
              <ng-template #nullVMethod><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Uncertainty</p>
              <p class="content-right" *ngIf="data.row_data.uncertainty !== undefined && data.row_data.uncertainty !== '' && data.row_data.unquantified !== '1'">{{data.row_data.uncertainty}}</p>
              <p class="content-right" *ngIf="data.row_data.unquantified === '1'">Unquantified</p>
              <p class="content-right" *ngIf="data.row_data.uncertainty === undefined && data.row_data.uncertainty === '' || data.row_data.unquantified !== '1'">---</p>
            </div>
            <div class="cell-container">
              <p class="content-left">Quality</p>
              <p class="content-right"  *ngIf="data.row_data.op_quality_id !== undefined && data.row_data.op_quality !== '' && opQuality !== '' && opQuality !== undefined; else nullOPQuality">{{opQuality}}</p>
              <ng-template #nullOPQuality><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Notes</p>
              <p class="content-right" *ngIf="data.row_data.op_notes !== undefined && data.row_data.op_notes !== ''; else nullNotes">{{data.row_data.op_notes}}</p>
              <ng-template #nullNotes><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Date Established</p>
              <p class="content-right" *ngIf="data.row_data.date_established_format !== undefined && data.row_data.date_established_format !== ''; else nullEstDate">{{data.row_data.date_established_format}}</p>
              <ng-template #nullEstDate><p class="content-right">---</p></ng-template>
            </div>
            <div class="cell-container">
              <p class="content-left">Date Recovered</p>
              <p class="content-right" *ngIf="data.row_data.date_recovered_format !== undefined && data.row_data.date_recovered_format !== ''; else nullRecovDate">{{data.row_data.date_recovered_format}}</p>
              <ng-template #nullRecovDate><p class="content-right">---</p></ng-template>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle [expanded]="filesExpanded" (opened)="filesExpanded = true" (closed)="filesExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="!filesExpanded" style="color: grey; font-weight: 500">
              Reference Datum File Information
            </mat-panel-title>
            <mat-panel-title *ngIf="filesExpanded" style="color: #FFF; font-weight: 550">
              Reference Datum File Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="tableContainer" *ngIf="datumFiles !== undefined; else noDatumFileTable">
            <table *ngIf="datumFiles.length > 0; else noDatumFileTable"
                mat-table
                id="datumFilesTable"
                [dataSource]="refMarkFilesDataSource"
                (matSortChange)="sortRefMarkFilesData($event)"
                class="mat-elevation-z5"
                matSort
            >
                <!-- datum file date column -->
                <ng-container matColumnDef="FileDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="file_date">File Date</th>
                    <td mat-cell *matCellDef="let file">
                        <div *ngIf="file.file_date === '' || file.file_date === undefined; else displayDatumFileDate">
                            ---
                        </div>
                        <ng-template #displayDatumFileDate>
                            {{ file.file_date }}
                        </ng-template>
                    </td>
                </ng-container>
  
                <!-- datum file name column -->
                <ng-container matColumnDef="FileName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">File Name</th>
                    <td mat-cell *matCellDef="let file">
                        <div *ngIf="file.name === '' || file.name === undefined; else displayDatumFileName">
                            ---
                        </div>
                        <ng-template #displayDatumFileName>
                            {{ file.name }}
                        </ng-template>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedDatumFileColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedDatumFileColumns"
                    class="results-row"
                ></tr>
            </table>
          </div>
          <ng-template #noDatumFileTable>
            <table
                mat-table
                id="datumFilesTable"
                [dataSource]="blankFilesDataSource"
                class="mat-elevation-z5"
            >
                <!-- file date -->
                <ng-container matColumnDef="FileDate">
                    <th mat-header-cell *matHeaderCellDef>File Date</th>
                    <td mat-cell *matCellDef="let file">
                        {{file.date}}
                    </td>
                </ng-container>

                <!-- file name -->
                <ng-container matColumnDef="FileName">
                    <th mat-header-cell *matHeaderCellDef>File Name</th>
                    <td mat-cell *matCellDef="let file">
                        {{file.name}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedDatumFileColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedDatumFileColumns"
                    class="results-row"
                ></tr>
            </table>
          </ng-template>
          <mat-paginator [hidden]="datumFiles === undefined || datumFiles.length === 0" #paginator [pageSizeOptions]="[5, 10, 25]" class="results-paginator"></mat-paginator>
        </mat-expansion-panel>
      </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="detail-section-buttons centered">
        <button mat-stroked-button class="secondary" mat-dialog-close cdkFocusInitial aria-label="Close">Close</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </div>
</mat-dialog-actions>

