$black: #050920;
$white: #fff;
$bg: #f9fafe;
$red: #f23d47;
$blue: #3e3bfb;
$lightblue: #a5f2f3;
$lightgrey: #f0f3f4;

$borderColor: fade-out($black, 0.85);

$transition: 0.15s;
$borderRadius: 4px;

// Structure.scss
// Scaffolding and flex styles for basic structure of page
* {
    font-family: 'Roboto', sans-serif;
}

#mapContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $white;
    box-sizing: border-box; // Left sidebar

    // Mini map - shrinks map and hides controls
    &.mini {
        #map {
            height: 18vh;
            transition: 0.1s;
            min-height: 140px;
        }

        .leaflet-control-zoom,
        .leaflet-control,
        .leaflet-control-container,
        .leaflet-top .leaflet-left,
        #latLngScale,
        #legend,
        .leaflet-bottom .leaflet-control-scale,
        .leaflet-control-container {
            display: none !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }

        .leaflet-control-layers-toggle {
            display: none !important;
        }
    }

    .controlsDiv {
        flex-grow: 1;
        max-width: 25%;
        box-sizing: border-box;
        border-right: 1px solid #a0afcd; // Search and save search
        .search-button-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
            justify-content: center;
            button {
                min-width: 50%;
                margin: 0 auto;
            }
        }
    } // Right side
    .resultsDiv {
        flex-grow: 3;
        width: auto;
        min-width: 550px;
        position: relative;

        #resultsMapHeader {
            justify-content: flex-end;
        } // Table
        .mat-table {
            .mat-header-row {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                .mat-header-cell {
                    box-sizing: border-box;
                    padding: 3px;
                    &:first-child {
                        padding-left: 15px;
                    }
                    &:last-child {
                        padding-right: 15px;
                    }
                }
            }
            .mat-row {
                .mat-cell {
                    font-size: 12px;
                    box-sizing: border-box;
                    padding: 3px;
                    &:first-child {
                        padding-left: 15px;
                    }
                    &:last-child {
                        padding-right: 15px;
                    }
                    ul {
                        padding-left: 15px;
                        li {
                            line-height: 12px;
                            padding: 3px 0;
                            word-break: break-word;
                        }
                    }
                }
            }
        }
    }
}

.help-text {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

.mat-row,
.mat-header-row {
    display: flex;
    // max-width: 60%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

#mapPanel {
    width: 70%;
    position: relative;
    // left: 2.5%;
    float: right;

    #mapControls {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 1000;
        padding-top: 8px;

        button {
            margin: 20px 10px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}
#map {
    position: relative;
    height: 70vh;
    min-height: 375px;
    transition: 0.1s;
    margin: 20px 15px 15px 15px;

    #mapLocationNote {
        position: absolute;
        top: 11px;
        left: 50px;
        background-color: white;
        font-size: 12px;
        z-index: 401;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 3px;
        color: #313b57;
        width: 164px;
        line-height: 12px;

        b {
            color: rgb(7, 7, 7);
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.results-table-div {
    background-color: white;
    min-width: 500px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.legend {
    position: absolute;
    padding: 4px;
    // bottom: 60px !important;
    top: 25px;
    //left: 15px;
    right: 20px;
    width: 200px;
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.95;

    .mat-expansion-panel-body {
        border-color: transparent;
    }
}

.mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled='true']) {
    border-bottom: 0px solid transparent;
    border-color: transparent !important;
}

.allSitesLegend {
    margin-bottom: 10px;
    margin-left: -18px;
    margin-top: -5px;
}

.allSitesLegendLabel {
    margin-left: 20px;
    margin-top: 10px;
}

.legend-icon {
    display: flex;
    position: relative;

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 18px;
        height: 24px;
    }

    .wmm-pin {
        z-index: 0;
        top: 12px;
        left: 4px;
        position: absolute !important;
        transform: scale(0.8);
    }
    .wmm-square {
        position: absolute !important;
        transform: scale(0.8);
        top: 1px;
        left: 4px;
    }
}

.legend-panel-content {
    box-sizing: border-box;
    padding-left: 15px;
    padding-bottom: 15px;

    .wmm-circle,
    .wmm-diamond {
        position: relative;
        left: 6px;
    }
    .wmm-diamond {
        top: 5px;
    }
}

.extentBtn {
    position: absolute;
    padding: 4px;
    top: 10px !important;
    left: 50px;
    z-index: 1000;
    background-color: white;
    border-radius: 4px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.latLngScale {
    position: absolute;
    padding: 4px;
    bottom: 15px !important;
    left: 15px;
    /*width:250px*/
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    cursor: pointer;
}

.latLngScale:hover .hover-content {
    display: inline-block;
}

#sidebarFilter {
    margin-top: 20px;

    .mat-list .mat-subheader {
        padding: 0 0 6px 0;
        height: auto;
    }

    .mat-list .mat-list-item.mat-2-line {
        height: auto;
    }

    .mat-expansion-panel-body {
        padding-bottom: 0;
    }

    .search-button-row {
        padding-bottom: 0;

        button {
            background-color: white;
            margin: 0 auto 10px auto !important;
            display: block;
            width: 100%;
            border: 1px solid fade-out(#d5dcea, 0.5);
            border-radius: 4px;
        }
    }

    @media screen and (max-width: 875px) {
        #mapContainer {
            flex-wrap: wrap;
            flex-direction: column;
        }
        .resultsDiv,
        .controlsDiv {
            min-width: 100%;
        }
    }
}
.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.example-tree-node {
    display: block;
}

.example-tree-node .example-tree-node {
    padding-left: 40px;
}

// ===========================
// ===========================
// Filters Section
// ===========================
// ===========================
#filtersSection {
    background-color: #f7f7f7;
    padding: 15px 0 25px 0;

    .small-card {
        width: 95%;
        max-width: 800px;
        margin: 15px auto 0 auto;
    }
    .mat-card-content {
        width: 28%;
        max-width: 28%;
        margin: 15px;
        height: 70vh;
    }

    .mat-expansion-panel {
        margin-bottom: 15px;
    }
}

.form-container form {
    margin-bottom: 20px;
}

.form-container form > * {
    margin: 10px 0;
}

.form-container .mat-radio-button {
    margin: 0 12px;
}

.checkbox-margin {
    margin: 0 10px;
}

.boxes {
    display: block;
}

.huc-icon:after {
    border: 3px solid #b57dcf;
    background-color: transparent;
}
.warn-icon:after {
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.25);
}
.watch-icon:after {
    border: 3px solid orange;
    background-color: rgba(255, 165, 0, 0.25);
}
.AHPSGageLabel {
    font-size: small;
    margin-left: 20px;
}
.AHPSGageHeader {
    margin-left: 20px;
}
::ng-deep .mat-snack-bar-container.no-data-warning {
    background-color: rgba(255, 166, 0, 0.801);
    color: white;
    margin-bottom: 300px;
}
