<!--
    Main body wrapper
    Main body wrapper
    Main body wrapper
  -->
<div id="mapContainer">
    <!-- End Main Body Wrapper-->
    <div class="resultsDiv">
        <!-- Results Loading Shade -->
        <!-- Covers map and results, not sidebar -->
        <!-- <div class="data-loading-shade">
      <mat-spinner></mat-spinner>
    </div> -->
        <mat-expansion-panel [(expanded)]="mapPanelState" id="mapPanel">
            <mat-expansion-panel-header>
                <mat-panel-title id="resultsMapHeader"> Map </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Map -->
            <div id="testmapdiv"></div>
            <div id="map">
                <div
                    id="extentBtn"
                    class="extentBtn leaflet-bar leaflet-control leaflet-control-zoom"
                    (click)="eventFocus()"
                    aria-label="Clicking this button zooms to the extent of selected event"
                >
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >home</mat-icon
                    >
                </div>
                <div id="latLngScale" class="latLngScale">
                    <span class="hover-content"> <b>Map scale </b></span>
                    1:<span id="scale">{{ mapScale }}</span> |
                    <span class="hover-content"> <b>Zoom level </b></span>
                    <span id="zoomLevel"> {{ zoomLevel }}</span
                    ><br />
                    <span class="hover-content"><b>Latitude</b></span>
                    <span id="latitude"> {{ latitude }}</span> |
                    <span class="hover-content"> <b>Longitude</b></span>
                    <span id="longitude"> {{ longitude }}</span>
                    <span id="mapCenterLabel" class="hover-content"></span>
                </div>
            </div>
            <!-- Legend -->
            <mat-expansion-panel
                id="legend"
                class="legend"
                *ngIf="
                    watershedsVisible ||
                    currWarningsVisible ||
                    watchWarnVisible ||
                    ahpsGagesVisible ||
                    allSitesVisible
                "
            >
                <mat-expansion-panel-header>
                    <mat-panel-title> Legend </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="legend-panel-content" *ngIf="watershedsVisible">
                    <div id="watershedsLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-white wmm-icon-circle wmm-icon-white wmm-size-20 huc-icon"
                            ></div>
                            <label>Watersheds</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="allSitesVisible">
                    <div id="allSitesLegend">
                        <div class="legend-icon allSitesLegend">
                            <div class="allSiteIcon"></div>
                            <label class="allSitesLegendLabel"
                                >All STN Sites</label
                            >
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="currWarningsVisible">
                    <div id="currWarningLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-icon-circle wmm-size-20 warn-icon"
                            ></div>
                            <label>Current Warnings</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="watchWarnVisible">
                    <div id="watchWarnLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-icon-circle wmm-size-20 watch-icon"
                            ></div>
                            <label>Watches/Warnings</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="ahpsGagesVisible">
                    <div id="AHPSGageLegend">
                        <label class="AHPSGageHeader">AHPS Gages</label>
                        <div class="legend-icon">
                            <div
                                class="gageIcon majorFlood"
                                style="border-color: black"
                            ></div>
                            <div class="AHPSGageLabel">
                                <p>Major Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon moderateFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>Moderate Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon minorFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>Minor Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon nearFlood"></div>
                            <div class="AHPSGageLabel"><p>Near Flood</p></div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon noFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>No Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon floodND"></div>
                            <div class="AHPSGageLabel">
                                <p>Flood Category Not Defined</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon belowThreshold"></div>
                            <div class="AHPSGageLabel">
                                <p>At or Below Low Water Threshold</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon obsNotCurrent"></div>
                            <div class="AHPSGageLabel">
                                <p>Observations are Not Current</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon outOfService"></div>
                            <div class="AHPSGageLabel">
                                <p>Out of Service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-expansion-panel>
        <!-- Filter/Results -->
        <mat-card id="filtersSection">
            <mat-card-title>
                <div class="results-card-title-row">
                    <span class="results-card-title">Map Filters</span>
                    <span class="spacer"></span>
                </div>
            </mat-card-title>
            <mat-card-content>
                <!--Filters-->
                <mat-expansion-panel [(expanded)]="filtersPanelState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Filters <span class="fal fa-home-alt"></span
                        ></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="form-container">
                        <form class="form" [formGroup]="mapFilterForm">
                            <mat-form-field appearance="fill">
                                <mat-label for="eventType"
                                    >Event Type</mat-label
                                >
                                <mat-select
                                    id="eventTypeOptions"
                                    formControlName="eventTypeControl"
                                    (selectionChange)="updateEventFilter()"
                                >
                                    <mat-option
                                        *ngFor="
                                            let eventType of eventTypes$ | async
                                        "
                                        [value]="eventType"
                                        >{{ eventType.type }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>

                            <br />

                            <mat-form-field class="eventSelect">
                                <mat-label for="eventSelection"
                                    >Event</mat-label
                                >
                                <input
                                    matInput
                                    id="eventSelection"
                                    type="text"
                                    aria-label="Dropdown menu for storm event selection"
                                    matInput
                                    formControlName="eventsControl"
                                    [matAutocomplete]="eventAutocomplete"
                                />
                                <mat-hint
                                    >Start typing for suggestions</mat-hint
                                >
                                <mat-autocomplete
                                    #eventAutocomplete="matAutocomplete"
                                    [displayWith]="displayEvent"
                                >
                                    <mat-option
                                        *ngFor="
                                            let event of filteredEvents$ | async
                                        "
                                        [value]="event"
                                    >
                                        {{ event.event_name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <br />
                            <mat-form-field appearance="fill">
                                <mat-label for="networkOptions"
                                    >Networks</mat-label
                                >
                                <mat-select
                                    id="networkOptions"
                                    formControlName="networkControl"
                                    multiple
                                >
                                    <mat-option
                                        *ngFor="
                                            let network of networks$ | async
                                        "
                                        [value]="network.network_name_id"
                                        >{{ network.name }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label for="sensorTypes"
                                    >Sensor Types</mat-label
                                >
                                <mat-select
                                    id="sensorOptions"
                                    formControlName="sensorTypeControl"
                                >
                                    <mat-option>Any</mat-option>
                                    <mat-option
                                        *ngFor="
                                            let sensorType of sensorTypes$
                                                | async
                                        "
                                        [value]="sensorType.sensor_type_id"
                                        >{{ sensorType.sensor }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label for="stateList">States</mat-label>
                                <mat-select
                                    id="stateOptions"
                                    formControlName="stateControl"
                                    multiple
                                >
                                    <mat-option
                                        *ngFor="let state of states$ | async"
                                        [value]="state.state_abbrev"
                                        >{{ state.state_name }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <label
                                class="filter-label"
                                aria-label="Optionally select surveyed or unsurveyed HWMS"
                                >HWMS Surveyed:</label
                            >
                            <mat-radio-group
                                aria-label="Select an option"
                                class="checkbox-section"
                                formControlName="surveyedControl"
                            >
                                <mat-radio-button value="true"
                                    >Surveyed</mat-radio-button
                                >
                                <mat-radio-button value="false"
                                    >Unsurveyed</mat-radio-button
                                >
                            </mat-radio-group>
                            <br />
                            <label
                                class="filter-label"
                                aria-label="Optionally select additional site filters"
                                >Additional Site Filters:</label
                            >
                            <section class="checkbox-section">
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="HWMOnlyControl"
                                    >HWM Only Sites</mat-checkbox
                                >
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="sensorOnlyControl"
                                    >Sensor Only Sites</mat-checkbox
                                >
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="surveyedOnlyControl"
                                    >Surveyed RP Only Sites</mat-checkbox
                                >
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="bracketSiteOnlyControl"
                                    >Pre-Deployed Bracket Sites
                                    Only</mat-checkbox
                                >
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="RDGOnlyControl"
                                    >RDG Only Sites</mat-checkbox
                                >
                                <mat-checkbox
                                    aria-checked="false"
                                    class="checkbox-margin"
                                    formControlName="OPDefinedControl"
                                    >Has OP Defined</mat-checkbox
                                >
                            </section>
                        </form>
                        <div class="button-row">
                            <button
                                mat-raised-button
                                color="accent"
                                type="submit"
                                aria-label="Filter Sites"
                                (click)="submitMapFilter()"
                            >
                                <mat-icon>filter_alt</mat-icon>&nbsp;Filter
                                Sites
                            </button>
                            <button
                                mat-raised-button
                                color="warn"
                                type="reset"
                                aria-label="Clear filters"
                                (click)="clearMapFilterForm()"
                            >
                                <mat-icon>clear_all</mat-icon>&nbsp;Clear
                                Filters
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Results-->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Results </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="dataSource" class="results-table-div">
                        <mat-table
                            [dataSource]="dataSource"
                            class="mat-elevation-z8"
                        >
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <mat-header-cell *matHeaderCellDef>
                                    No.
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.position }}
                                </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>
                                    Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.name }}
                                </mat-cell>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <mat-header-cell *matHeaderCellDef>
                                    Weight
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.weight }}
                                </mat-cell>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <mat-header-cell *matHeaderCellDef>
                                    Symbol
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.symbol }}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></mat-header-row>
                            <mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></mat-row>
                        </mat-table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 25]"
                        ></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </mat-card-content>
        </mat-card>
    </div>
</div>
