<!--
    Main body wrapper
    Main body wrapper
    Main body wrapper
  -->
<div id="mapContainer" [class.mini]="mapPanelMinimized">
    <!-- End Main Body Wrapper-->
    <div class="resultsDiv">
        <!-- Results Loading Shade -->
        <!-- Covers map and results, not sidebar -->
        <!-- <div class="data-loading-shade">
      <mat-spinner></mat-spinner>
	</div> -->

        <div id="mobile-filter-button">
            <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Map Filters"
            (click)="openMapFilters()"
            >
                <mat-icon>filter_alt</mat-icon>&nbsp;Map Filters
            </button>
        </div>

        <!-- Minimize/maximize map button displayed on mobile screen sizes -->
        <div id="mobile-minimize-button">
            <button
				class="navBarBtnActive"
                mat-button
                aria-label="Display Map View"
                (click)="toggleMap()"
            >
                <span *ngIf="!mapPanelMinimized">Minimize Map</span>
                <span *ngIf="mapPanelMinimized">Maximize Map</span>
			</button>
        </div>
					
        <div id="mapPanel" [ngStyle]="{'display': isClicked? 'none' : (firstLoaded ? 'block' : (isSubmitted ? 'block' : 'none'))}">

			<div id="mapControls">
				<button
					class="navBarBtnActive"
					mat-button
					aria-label="Display Map View"
					(click)="toggleMap()"
				>
					<span *ngIf="!mapPanelMinimized">Minimize Map</span>
					<span *ngIf="mapPanelMinimized">Maximize Map</span>
				</button>
		
			</div>

            <!-- Map -->
            <div id="map">
                <div
                    id="extentBtn"
                    class="extentBtn leaflet-bar leaflet-control leaflet-control-zoom"
                    (click)="siteFocus()"
                    aria-label="Clicking this button zooms to the extent of selected event"
                >
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >home</mat-icon
                    >
                </div>
                <div id="latLngScale" class="latLngScale">
                    <span class="hover-content"> <b>Map scale </b></span>
                    1:<span id="scale">{{ mapScale }}</span> |
                    <span class="hover-content"> <b>Zoom level </b></span>
                    <span id="zoomLevel"> {{ zoomLevel }}</span
                    ><br />
                    <span class="hover-content"><b>Latitude</b></span>
                    <span id="latitude"> {{ latitude }}</span> |
                    <span class="hover-content"> <b>Longitude</b></span>
                    <span id="longitude"> {{ longitude }}</span>
                    <span id="mapCenterLabel" class="hover-content"></span>
                </div>
            </div>
            <!-- Legend -->
            <mat-expansion-panel
                id="legend"
                class="legend"
                *ngIf="
                    sitesVisible ||
                    watershedsVisible ||
                    currWarningsVisible ||
                    watchWarnVisible ||
                    ahpsGagesVisible ||
                    noaaTidesVisible ||
                    allSitesVisible
                "
            >
                <mat-expansion-panel-header>
                    <mat-panel-title> Legend </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="sitesVisible">
                    <div class="legend-panel-content" *ngIf="!manyFiltered">
                        <div id="sitesLegend">
                            <div class="legend-icon">
                                <div
                                    class="wmm-pin wmm-altblue wmm-icon-circle wmm-icon-white wmm-size-20"
                                ></div>
                                <label>Site</label>
                            </div>
                        </div>
                    </div>
                    <div class="legend-panel-content" *ngIf="manyFiltered">
                        <div id="sitesLegend">
                            <div class="legend-icon allSitesLegend">
                                <div class="manyFilteredSitesIcon"></div>
                                <label class="allSitesLegendLabel">Site</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="watershedsVisible">
                    <div id="watershedsLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-white wmm-icon-circle wmm-icon-white wmm-size-20 huc-icon"
                            ></div>
                            <label>Watersheds</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="allSitesVisible">
                    <div id="allSitesLegend">
                        <div class="legend-icon allSitesLegend">
                            <div class="allSiteIcon"></div>
                            <label class="allSitesLegendLabel"
                                >All STN Sites</label
                            >
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="noaaTidesVisible">
                    <div id="noaaTidesLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-diamond wmm-lime wmm-icon-triangle wmm-icon-black wmm-size-15 wmm-borderless"
                            ></div>
                            <label>NOAA Tides and Current Stations</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="currWarningsVisible">
                    <div id="currWarningLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-icon-circle wmm-size-20 warn-icon"
                            ></div>
                            <label>Current Warnings</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="watchWarnVisible">
                    <div id="watchWarnLegend">
                        <div class="legend-icon">
                            <div
                                class="wmm-square wmm-icon-circle wmm-size-20 watch-icon"
                            ></div>
                            <label>Watches/Warnings</label>
                        </div>
                    </div>
                </div>
                <div class="legend-panel-content" *ngIf="ahpsGagesVisible">
                    <div id="AHPSGageLegend">
                        <label class="AHPSGageHeader">AHPS Gages</label>
                        <div class="legend-icon">
                            <div
                                class="gageIcon majorFlood"
                                style="border-color: black"
                            ></div>
                            <div class="AHPSGageLabel">
                                <p>Major Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon moderateFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>Moderate Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon minorFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>Minor Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon nearFlood"></div>
                            <div class="AHPSGageLabel"><p>Near Flood</p></div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon noFlood"></div>
                            <div class="AHPSGageLabel">
                                <p>No Flooding</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon floodND"></div>
                            <div class="AHPSGageLabel">
                                <p>Flood Category Not Defined</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon belowThreshold"></div>
                            <div class="AHPSGageLabel">
                                <p>At or Below Low Water Threshold</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon obsNotCurrent"></div>
                            <div class="AHPSGageLabel">
                                <p>Observations are Not Current</p>
                            </div>
                        </div>
                        <div class="legend-icon">
                            <div class="gageIcon outOfService"></div>
                            <div class="AHPSGageLabel">
                                <p>Out of Service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

        <!-- Filter/Results -->
        <mat-card id="filtersSection">
            <mat-card-content (window:resize)="onResize()" [ngStyle]="{'display': !isMobile ? 'block' : (isClicked ? 'block' : (firstLoaded ? 'none' : (!isSubmitted ? 'block' : 'none' )))}" >
                <div id="mapFilters">
                    <app-filter
                        [mapFilterForm]="mapFilterForm"
                        [states]="states"
                        [filteredEvents$]="filteredEvents$"
                        [filteredStates$]="filteredStates$"
                        [selectedStates]="selectedStates"
                        [eventStates$]="eventStates$"
                        [eventTypes$]="eventTypes$"
                        (updateEventFilter)="updateEventFilter()"
                        (submitMapFilter)="submitMapFilter()"
                        (clearMapFilterForm)="clearMapFilterForm()"
                        (selectState)="selectState($event)"
                        (remove)="remove($event)"
                        (addState)="addState($event)"
                        (displayMostRecentEvent)="displayMostRecentEvent()"
                        (getEventList)="getEventList()"
                    ></app-filter>
                </div>
                <div class="button-row">
                    <button
                        mat-raised-button
                        color="accent"
                        type="submit"
                        aria-label="Filter Sites"
                        (click)="submitMapFilter()"
                    >
                        <mat-icon>filter_alt</mat-icon>&nbsp;Filter
                        Sites
                    </button>
                    <button
                        mat-raised-button
                        color="warn"
                        type="reset"
                        aria-label="Clear filters"
                        (click)="clearMapFilterForm()"
                    >
                        <mat-icon>clear_all</mat-icon>&nbsp;Clear
                        Filters
                    </button>
                </div>
            </mat-card-content>
            <app-filter-results [ngStyle]="{'display': isClicked ? 'none' : (firstLoaded ? 'block' : (isSubmitted ? 'block' : 'none'))}"
                    [mapFilterForm]="mapFilterForm"
            ></app-filter-results>
        </mat-card>
    </div>
</div>
