<h1 mat-dialog-title><mat-icon>login</mat-icon> Login to STNWeb</h1>
<mat-dialog-content>
    <form
        [formGroup]="loginForm"
        id="loginForm"
        (ngSubmit)="onSubmitLogin(loginForm.value)"
    >
        <div class="vertical-form-container">
            <mat-form-field class="form-control">
                <input
                    matInput
                    placeholder="Username"
                    formControlName="username"
                    value=""
                />
                <mat-error *ngIf="loginForm.get('username').invalid">{{
                    getErrorMessage('username')
                }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
                <input
                    matInput
                    placeholder="Password"
                    formControlName="password"
                    required
                    [type]="hide ? 'password' : 'text'"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? 'visibility' : 'visibility_off'
                }}</mat-icon>
                <mat-error *ngIf="loginForm.get('password').invalid">{{
                    getErrorMessage('password')
                }}</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="form-buttons-flex">
        <button mat-button (click)="this.loginDialogRef.close('cancel')">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
        <button
            mat-button
            type="submit"
            [disabled]="loginForm.invalid"
            form="loginForm"
        >
            <mat-icon>login</mat-icon> Login
        </button>
    </div>
    <mat-progress-bar mode="buffer" *ngIf="requestPending"></mat-progress-bar>
</mat-dialog-actions>
