<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!currentUser.username">
  <div class="example-container">
    <h3>Login to Ice Jams</h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" value="" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
    </div>

    <div id="signinButton">
      <!-- <a class="loginorcancel" mat-raised-button color="accent">
        Sign In
      </a> -->
      <button class="loginorcancel" mat-raised-button color="accent" (click)="this.loginDialogRef.close('cancel');">
        Submit
      </button>
    </div>
    <!-- <h5 style="text-align: center;">Don't have an account yet?</h5>
  <div id="registerButton">
      <button (click)="openRegDialog()" mat-stroked-button color="primary" style="font-weight: bold;">Register</button>
      <a mat-raised-button color="accent" style="font-weight: bold;" routerLink="/addEvent">
        Register
      </a>
    </div> -->
  </div>
</form>
