<h2 mat-dialog-title>
    Site
    <button class="close-button" mat-button [mat-dialog-close]="returnData" aria-label="Exit"><mat-icon>close</mat-icon></button>
</h2>
<div [hidden]="!loading" class="loading">
    <mat-spinner style="margin:0 auto; top: 50%" mode="indeterminate" diameter="20"></mat-spinner>
</div>
<form [formGroup]="siteForm" (ngSubmit)="submitSiteForm()">
    <mat-dialog-content>
        <mat-accordion multi="true">
            <mat-expansion-panel hideToggle expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Site Information
                    </mat-panel-title>
                </mat-expansion-panel-header>
                        <mat-form-field appearance="fill">
                            <mat-label for="description">Site Description</mat-label>
                            <textarea aria-label="Site Description" matInput formControlName="site_description" required id="description" [value]="site.description"></textarea>
                            <mat-icon matSuffix class="info-icon" matTooltip="Brief description of the site area." 
                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Internal Notes</mat-label>
                            <textarea aria-label="Internal Notes" matInput formControlName="site_notes" [value]="site.internal_notes"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Waterbody</mat-label>
                            <input aria-label="Waterbody" formControlName="waterbody" required matInput [value]="site.waterbody"/>
                            <mat-icon matSuffix class="info-icon" matTooltip="Required by NWIS.  Can be listed as 'Unknown' or 'Atlantic Ocean'" 
                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                            <mat-hint>e.g. Atlantic Ocean</mat-hint>
                        </mat-form-field>
                        <div>
                            <mat-label class="form-header">Lat/Lng Unit:</mat-label>
                            <mat-radio-group id="latLngUnit" [(ngModel)]="latLngUnit" [ngModelOptions]="{standalone: true}" (change)="changeLatLngUnit($event)">
                                <mat-radio-button class="radio-button" value="decdeg">Dec Deg</mat-radio-button>
                                <mat-radio-button class="radio-button" value="dms">DMS</mat-radio-button>
                            </mat-radio-group>   
                        </div>
                        <div *ngIf="latLngUnit === 'decdeg'">            
                            <mat-form-field appearance="fill">
                                <mat-label>Latitude</mat-label>
                                <input aria-label="Latitude" formControlName="latitude_dd" required matInput [value]="site.latitude_dd"/>
                            </mat-form-field>
                            <!-- LatDD Validator -->
                            <div *ngIf="siteForm.controls.latitude_dd.invalid && (siteForm.controls.latitude_dd.dirty || siteForm.controls.latitude_dd.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.latitude_dd.errors?.['incorrectValue']">
                                    The latitude must be between 0 and 73.0.
                                </div>
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Longitude</mat-label>
                                <input aria-label="Longitude" formControlName = "longitude_dd" required matInput [value]="site.longitude_dd"/>
                            </mat-form-field>
                            <!-- LonDD Validator -->
                            <div *ngIf="siteForm.controls.longitude_dd.invalid && (siteForm.controls.longitude_dd.dirty || siteForm.controls.longitude_dd.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.longitude_dd.errors?.['incorrectValue']">
                                    The longitude must be between -175.0 and -60.0.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="latLngUnit === 'dms'">
                            <table>
                                <tr>
                                    <td>
                                        <label>Latitude</label>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Degree</mat-label>
                                            <input aria-label="Degree" required formControlName="latdeg" matInput [value]="dms.latdeg"/>
                                        </mat-form-field>
                                    </td>
                                    <td>°</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Minute</mat-label>
                                            <input aria-label="Minute" required formControlName="latmin" matInput [value]="dms.latmin"/>
                                        </mat-form-field>
                                    </td>
                                    <td>′</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Second</mat-label>
                                            <input aria-label="Second" required formControlName="latsec" matInput [value]="dms.latsec"/>
                                        </mat-form-field>
                                    </td>
                                    <td>″</td>
                                </tr>
                            </table>
                            <!-- LatDD Validator -->
                            <div *ngIf="siteForm.controls.latdeg.invalid && (siteForm.controls.latdeg.dirty || siteForm.controls.latdeg.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.latdeg.errors?.['incorrectValue']">
                                    The latitude must be between -175.0 and -60.0.
                                </div>
                            </div>
                            <div *ngIf="siteForm.controls.latmin.invalid && (siteForm.controls.latmin.dirty || siteForm.controls.latmin.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.latmin.errors?.['incorrectValue']">
                                    The latitude must be between 0 and 73.
                                </div>
                            </div>
                            <div *ngIf="siteForm.controls.latsec.invalid && (siteForm.controls.latsec.dirty || siteForm.controls.latsec.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.latsec.errors?.['incorrectValue']">
                                    The latitude must be between 0 and 73.
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <label>Longitude</label>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Degree</mat-label>
                                            <input aria-label="Degree" required formControlName="londeg" matInput [value]="dms.londeg"/>
                                        </mat-form-field>
                                    </td>
                                    <td>°</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Minute</mat-label>
                                            <input aria-label="Minute" required formControlName="lonmin" matInput [value]="dms.lonmin"/>
                                        </mat-form-field>
                                    </td>
                                    <td>′</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Second</mat-label>
                                            <input aria-label="Second" required formControlName="lonsec" matInput [value]="dms.lonsec"/>
                                        </mat-form-field>
                                    </td>
                                    <td>″</td>
                                </tr>
                            </table>
                            <!-- LonDD Validator -->
                            <div *ngIf="siteForm.controls.londeg.invalid && (siteForm.controls.londeg.dirty || siteForm.controls.londeg.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.londeg.errors?.['incorrectValue']">
                                    The longitude must be between -175.0 and -60.0.
                                </div>
                            </div>
                            <div *ngIf="siteForm.controls.lonmin.invalid && (siteForm.controls.lonmin.dirty || siteForm.controls.lonmin.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.lonmin.errors?.['incorrectValue']">
                                    The longitude must be between -175.0 and -60.0.
                                </div>
                            </div>
                            <div *ngIf="siteForm.controls.lonsec.invalid && (siteForm.controls.lonsec.dirty || siteForm.controls.lonsec.touched)"
                                class="alert alert-danger">
                                <div *ngIf="siteForm.controls.lonsec.errors?.['incorrectValue']">
                                    The longitude must be between -175.0 and -60.0.
                                </div>
                            </div>
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Horizontal Datum</mat-label>
                            <mat-select aria-label="Horizontal Datum" formControlName="hdatum_id" required>
                                <mat-option *ngFor="let datum of hDatums" [value]="datum.datum_id">
                                {{datum.datum_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Horizontal Collection Method</mat-label>
                            <mat-select aria-label="Horizontal Collection Method" formControlName="hcollect_method_id" required [(value)]="site.hcollect_method_id">
                                <mat-option *ngFor="let method of hMethods" [value]="method.hcollect_method_id">
                                {{method.hcollect_method}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <input aria-label="Address" matInput formControlName="address" [value]="site.address"/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <input aria-label="City" matInput formControlName="city" [value]="site.city"/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                            <mat-select aria-label="State" formControlName="state" required (selectionChange)="getCountyList($event.value)">
                                <mat-option *ngFor="let state of stateList" [value]="state.state_abbrev">
                                    {{state.state_name}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="info-icon" matTooltip="Used to autogenerate the Site Number." 
                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Zip</mat-label>
                            <input aria-label="Zip" matInput maxLength="5" formControlName="zip" [value]="site.zip"/>
                            <mat-error>
                                Invalid zip code
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>County</mat-label>
                            <mat-select aria-label="County" formControlName="county" required>
                                <mat-option *ngFor="let county of countyList" [value]="county.county_name">
                                    {{county.county_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-accordion multi="true">
                            <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Additional Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                                    <div>
                                        <label class="form-header">Site Creator:</label> {{site.memberName}}
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Drainage Area</mat-label>
                                        <input aria-label="Drainage Area" formControlName="drainage_area_sqmi" matInput [value]="site.drainage_area"/>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Station ID for USGS Gage</mat-label>
                                        <input aria-label="Station ID for USGS Gage" matInput formControlName="usgs_sid" [value]="site.usgs_id"/>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Station ID for NOAA Gage</mat-label>
                                        <input aria-label="Station ID for NOAA Gage" matInput formControlName="noaa_sid" [value]="site.noaa_id"/>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Other Station ID</mat-label>
                                        <input aria-label="Other Station ID" matInput formControlName="other_sid" [value]="site.other_id"/>
                                        <mat-hint>Please add details in the Site Description</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Safety Notes</mat-label>
                                        <textarea aria-label="Safety Notes" matInput formControlName="safety_notes" [value]="site.safety_notes"></textarea>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Priority</mat-label>
                                        <mat-select aria-label="Priority" formControlName="priority_id">
                                            <mat-option *ngFor="let priority of priorityList" [value]="priority.priority_id">
                                                {{priority.priority_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div>
                                        <label class="form-header">Access Permission Granted</label>
                                        <mat-radio-group class="radio-group" [(value)]="accessGranted" formControlName="access_granted">
                                            <mat-radio-button class="radio-button" value="Yes">Yes</mat-radio-button>
                                            <mat-radio-button class="radio-button" value="No">No</mat-radio-button>
                                            <mat-radio-button class="radio-button" value="Not Needed">Not Needed</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="form-header">Site Location Type in the Network</div>
                                    <ul>
                                        <li *ngFor="let type of networkTypes">
                                        <mat-checkbox [checked]="type.selected" (change)="setSelectedNetworkType($event, type)">
                                            {{type.network_type_name}}
                                        </mat-checkbox>
                                        </li>
                                    </ul>
                                    <div class="form-header">Network Name</div>
                                    <ul>
                                        <li *ngFor="let name of networkNames">
                                        <mat-checkbox [checked]="name.selected" (change)="setSelectedNetworkName($event, name)" [disabled]="name.name !== 'Not Defined' && isDisabled">
                                            {{name.name}}
                                        </mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Zone</mat-label>
                                        <input aria-label="Zone" matInput [value]="site.zone"/>
                                    </mat-form-field>
                                    <mat-checkbox id="sensorAppropriate" [value]="sensorNotAppropriate" [checked]="sensorNotAppropriate" (change)="sensorAppropriateChanged($event)">
                                        Sensor Not Appropriate
                                    </mat-checkbox>
                                    <div>
                                        <label class="form-header">Permanent Housing Installed</label>
                                        <mat-radio-group class="radio-group" [(value)]="perm_housing_installed" formControlName="is_permanent_housing_installed">
                                            <mat-radio-button class="radio-button" value="Yes">Yes</mat-radio-button>
                                            <mat-radio-button class="radio-button" value="No">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div>
                                        <div>
                                            <label class="form-header">Landowner Contact</label><mat-icon matSuffix class="info-icon" matTooltip="Do not record information that private citizens have a reasonable expectation of privacy about. No names or phone numbers of private citizens.  Business contact information is acceptable." 
                                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                                        </div>
                                        <button mat-stroked-button class="add-button add" (click)="addLandownerContact()" type="button"><mat-icon>add</mat-icon> Add Landowner</button>
                                        <form [formGroup]="landownerForm" [hidden]="!hasLandownerContact && !addLandownerCheck">
                                            <mat-expansion-panel hideToggle expanded="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                    Landowner Information
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-card class="mat-elevation-z0 event-alert"><mat-icon class="warning-icon">warning</mat-icon><p>Do not record information that private citizens have a reasonable expectation of privacy about. No names or phone numbers of private citizens. Business contact information is acceptable.</p></mat-card>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>First Name</mat-label>
                                                    <input aria-label="First Name" formControlName="fname" required matInput [value]="landownerContact.fname"/>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Last Name</mat-label>
                                                    <input aria-label="Last Name" formControlName="lname" matInput [value]="landownerContact.name"/>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Affiliation/Title</mat-label>
                                                    <input aria-label="Affiliation/Title" formControlName="title" matInput [value]="landownerContact.title"/>
                                                </mat-form-field>
                                                <mat-checkbox class="site-chx" [value]="useSiteAddress" (click)="useAddressforLO()" >Address same as Site address</mat-checkbox>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Address</mat-label>
                                                    <input aria-label="Address" formControlName="address" matInput [value]="landownerContact.address"/>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>City</mat-label>
                                                    <input aria-label="City" formControlName="city" matInput [value]="landownerContact.city"/>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>State</mat-label>
                                                    <mat-select aria-label="State" formControlName="state">
                                                        <mat-option *ngFor="let state of stateList" [value]="state.state_name">
                                                            {{state.state_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Zip</mat-label>
                                                    <input aria-label="Zip" maxLength="5" formControlName="zip" matInput [value]="landownerContact.zip"/>
                                                    <mat-error>
                                                        Invalid zip code
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Primary Phone</mat-label>
                                                    <input id="primary-phone" aria-label="Primary Phone" (keydown)="this.phoneNumberFormatter($event)" formControlName="primaryphone" matInput [value]="landownerContact.primaryphone"/>
                                                    <mat-error>
                                                        Invalid phone format
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Secondary Phone</mat-label>
                                                    <input id="secondary-phone" aria-label="Secondary Phone" (keydown)="this.phoneNumberFormatter($event)" formControlName="secondaryphone" matInput [value]="landownerContact.secondaryphone"/>
                                                    <mat-error>
                                                        Invalid phone format
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Email</mat-label>
                                                    <input aria-label="Email" formControlName="email" matInput [value]="landownerContact.email"/>
                                                    <mat-error>
                                                        Invalid email format
                                                    </mat-error>
                                                </mat-form-field>
                                            </mat-expansion-panel>
                                        </form>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Site Housing(s)</mat-label>
                                        <mat-select aria-label="Site Housings" formControlName="housingType" (selectionChange)="changeTableValue($event.value)" multiple>
                                            <mat-option *ngFor="let option of siteHousingLookup" [value]="option.type_name">
                                                {{option.type_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="tableContainer">
                                        <table
                                            mat-table
                                            id="siteHousingTable"
                                            [dataSource]="siteForm.controls.siteHousings.controls"
                                            formArrayName="siteHousings"
                                            class="mat-elevation-z5"
                                            matSort
                                        >

                                            <!-- housing type column -->
                                            <ng-container matColumnDef="HousingType">
                                                <th mat-header-cell *matHeaderCellDef>Housing Type</th>
                                                <td mat-cell *matCellDef="let housing; let i = index" [formGroupName]="i">
                                                    <mat-form-field>
                                                        <input  aria-label="Housing Type" matInput formControlName="housingType" [value]="housing.housingType" class="disabled"/>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- housing length column -->
                                            <ng-container matColumnDef="HousingLength">
                                                <th mat-header-cell *matHeaderCellDef>Housing Length (ft)</th>
                                                <td mat-cell *matCellDef="let housing; let i = index" [formGroupName]="i">
                                                    <mat-form-field appearance="fill">
                                                        <input aria-label="Housing Length" matInput formControlName="length" [value]="housing.length"/>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- housing material column -->
                                            <ng-container matColumnDef="HousingMaterial">
                                                <th mat-header-cell *matHeaderCellDef>Housing Material</th>
                                                <td mat-cell *matCellDef="let housing; let i = index" [formGroupName]="i">
                                                    <mat-form-field appearance="fill">
                                                        <input aria-label="Housing Material" matInput formControlName="material" [value]="housing.material"/>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- amount column -->
                                            <ng-container matColumnDef="Amount">
                                                <th
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                >
                                                    Amount
                                                </th>
                                                <td
                                                    mat-cell
                                                    *matCellDef="let housing; let i = index" [formGroupName]="i"
                                                >
                                                    <mat-form-field appearance="fill">
                                                        <input aria-label="Housing Amount" formControlName="amount" matInput [value]="housing.amount"/>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <!-- housing notes column -->
                                            <ng-container matColumnDef="Notes">
                                                <th mat-header-cell *matHeaderCellDef>Notes</th>
                                                <td mat-cell *matCellDef="let housing; let i = index" [formGroupName]="i">
                                                    <mat-form-field appearance="fill">
                                                        <input aria-label="Housing Notes" formControlName="notes" matInput [value]="housing.notes"/>
                                                    </mat-form-field>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr
                                                mat-row
                                                *matRowDef="let row; columns: displayedColumns"
                                                class="results-noclick-row"
                                            ></tr>
                                        </table>
                                    </div>
                            </mat-expansion-panel>
                            <div class="site-button-group">
                                <button class="primary" mat-button cdkFocusInitial aria-label="Save" type="submit">Save</button>
                                <button class="cancel-btn secondary" mat-stroked-button mat-dialog-close cdkFocusInitial aria-label="Cancel">Cancel</button>
                            </div>
                        </mat-accordion>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Site Files
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon class="info-header-icon" matTooltip="For general site files only. Please add event-specific files (e.g. HWM photos, field sheets, sensor data files, etc.) by editing the Sensor or HWM sections within this site and uploading files from there ." 
                        aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <button mat-stroked-button class="add-button add" (click)="addSiteFile()" type="button"><mat-icon>add</mat-icon> Add File</button>
                <div class="tableContainer" [hidden]="initSiteFiles?.length === 0">
                    <table
                        mat-table
                        id="siteFileTable"
                        [dataSource]="initSiteFiles"
                        class="mat-elevation-z5"
                        matSort
                    >

                        <!-- file name column -->
                        <ng-container matColumnDef="FileName">
                            <th mat-header-cell *matHeaderCellDef>File Name</th>
                            <td mat-cell *matCellDef="let file">
                                <div>
                                    {{file.name}}
                                </div>
                            </td>
                        </ng-container>

                        <!-- file date column -->
                        <ng-container matColumnDef="FileDate">
                            <th mat-header-cell *matHeaderCellDef>File Date</th>
                            <td mat-cell *matCellDef="let file">
                                <div>
                                    {{file.format_file_date}}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedFileColumns"></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedFileColumns"
                            class="file-table"
                            (click)="showFileEdit(row)"
                        ></tr>
                    </table>
                </div>
                <form [formGroup]="siteFileForm" [hidden]="!showFileForm">
                    <mat-form-field appearance="fill">
                        <mat-label>File Type</mat-label>
                        <mat-select aria-label="File Type" formControlName="filetype_id" (selectionChange)="getFileTypeSelection($event)">
                            <mat-option *ngFor="let file of fileTypes" [value]="file.filetype_id">
                                {{file.filetype}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                                    <!--Upload Single Image with validations*-->
                                    <div *ngIf="addFileType === 'New' && siteFiles.FileEntity.filetype_id !== 8">
                                        <label class="custom-file-input-add" for="addFile">
                                            <p class="required">*</p> {{ siteFiles.FileEntity.name || ' None Chosen' }}
                                        </label>
                                        <input #upload id="addFile" class="upload-file" type="file" max="500000" [hidden]="true" (change)="getFileName($event)">
                                    </div>
                                    <br clear="all" />

                                    <!--File URL (LINK file)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 8">
                                        <mat-form-field appearance="fill">
                                            <mat-label>File URL</mat-label>
                                            <input aria-label="File URL" formControlName="name" matInput [value]="siteFiles.FileEntity.name"/>
                                            <mat-icon matSuffix class="info-icon" matTooltip="Please link to persistent URLs or digital object identifier (doi) urls." 
                                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>                
                                        </mat-form-field>
                                    </div>

                                    <!--Source Name (photo)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Source Photographer</mat-label>
                                            <input aria-label="Source Photographer" formControlName="FULLname" matInput required [value]="siteFiles.FileEntity.FULLname"/>           
                                        </mat-form-field>
                                    </div>

                                    <!--Source Name (all other)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id  > 2">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Source Name</mat-label>
                                            <input aria-label="Source Name" formControlName="FULLname" matInput required [value]="siteFiles.FileEntity.FULLname"/>           
                                        </mat-form-field>
                                    </div>

                                    <!--Source Agency* (photo, allOther)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1 || siteFiles.FileEntity.filetype_id > 2">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Source Agency</mat-label>
                                            <mat-select aria-label="Source Agency" required formControlName="agency_id" (selectionChange)="updateAgencyForCaption()">
                                                <mat-option *ngFor="let a of agencies" [value]="a.agency_id">
                                                    {{a.agency_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <!-- Photo Date* (photo) -->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Photo Date</mat-label>
                                            <input aria-label="Photo Date" matInput formControlName="photo_date" [value]="siteFiles.FileEntity.photo_date" [matDatepicker]="photoDatePicker" (dateChange)="formatDate($event)" required placeholder="Choose a date">
                                            <mat-datepicker-toggle matSuffix [for]="photoDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker [value]="siteFiles.FileEntity.photo_date" #photoDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <!-- Date Uploaded* (photo, data, allother) -->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id > 0">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Date Uploaded</mat-label>
                                            <input aria-label="Date Uploaded" matInput formControlName="file_date" [value]="siteFiles.FileEntity.file_date" [matDatepicker]="fileDatePicker" required placeholder="Choose a date" (dateChange)="formatDate($event)">
                                            <mat-datepicker-toggle matSuffix [for]="fileDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fileDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <!--Description*(photo, data, allother)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id > 0">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="description">Description</mat-label>
                                            <textarea aria-label="Description" matInput formControlName="description" required id="description" [value]="siteFiles.FileEntity.description"></textarea>
                                            <mat-icon [hidden]="siteFiles.FileEntity.filetype_id !== 1" matSuffix class="info-icon" matTooltip="Populates in Photo caption below. If a person or people appear in photo include name(s). If non-USGS personnel, ensure consent to publish name in caption is given." 
                                            aria-label="Displays a tooltip when focused or hovered over">info</mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <!-- This is where Other ends, rest is for Photo -->
                                    <!--Photo Direction (photo)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Photo Direction</mat-label>
                                            <input aria-label="Photo Direction" formControlName="photo_direction" matInput [value]="siteFiles.FileEntity.photo_direction"/>           
                                        </mat-form-field>
                                    </div>

                                    <!-- Photo Latitude (photo)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Photo Latitude (if different)</mat-label>
                                            <input aria-label="Photo Latitude (if different)" formControlName="latitude_dd" matInput [value]="siteFiles.FileEntity.latitude_dd"/>           
                                        </mat-form-field>
                                    </div>
                                    <!-- LatDD Validator -->
                                    <div *ngIf="siteFileForm.controls.latitude_dd.invalid && (siteFileForm.controls.latitude_dd.dirty || siteFileForm.controls.latitude_dd.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="siteFileForm.controls.latitude_dd.errors?.['incorrectValue']">
                                            The latitude must be between 0 and 73.0.
                                        </div>
                                    </div>

                                    <!--Photo Longitude (photo)-->
                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 1">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Photo Longitude (if different)</mat-label>
                                            <input aria-label="Photo longitude (if different)" formControlName="longitude_dd" matInput [value]="siteFiles.FileEntity.longitude_dd"/>           
                                        </mat-form-field>
                                    </div>
                                    <!-- LonDD Validator -->
                                    <div *ngIf="siteFileForm.controls.longitude_dd.invalid && (siteFileForm.controls.longitude_dd.dirty || siteFileForm.controls.longitude_dd.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="siteFileForm.controls.longitude_dd.errors?.['incorrectValue']">
                                            The longitude must be between -175.0 and -60.0.
                                        </div>
                                    </div>

                                    <div *ngIf="siteFiles.FileEntity.filetype_id === 11">
                                        <label class="form-header" for="Caption">Preview Caption</label>
                                        <div>
                                            <span>
                                                Photo of {{siteFileForm.value.description || ' (Description HERE) '}} at {{siteForm.value.site_description}}, {{siteForm.value.county}}, {{siteForm.value.state}}, {{formattedPhotoDate || ' Date taken HERE '}}. Photograph by {{siteFileForm.value.FULLname || ' Source Name HERE ' }}, {{agencyNameForCap || ' Agency HERE '}}.
                                            </span>
                                        </div>
                                    </div>

                                    <!-- associated files -->
                                    <div *ngIf="addFileType === 'Existing' && siteFiles.FileEntity.filetype_id !== 8">
                                        <label class="form-header">Associated File:</label>
                                        <div>
                                            <span *ngIf="fileItemExists">
                                                <a target="_blank" title="Download File" href="{{fileSource}}">{{siteFiles.FileEntity.name}}</a>
                                            </span>
                                            <span *ngIf="!fileItemExists">-- Missing --</span>
                                            <!--ReUpload Single Image with validations*-->
                                            <div *ngIf="!fileItemExists">
                                                <label class="custom-file-input" for="Upload">
                                                    <p class="required">*</p> {{ siteFiles.FileEntity.name || ' None Chosen' }}
                                                </label>
                                                <input #upload [hidden]="true" id="Upload" type="file" max="500000" file-model="existingFile.File" (change)="getFileName($event)">
                                                <span *ngIf="fileUploading" class="file-upload-span">
                                                    Correct File?
                                                    <button aria-label="Upload" mat-button class="save-btn" *ngIf="fileUploading" type="button" (click)="saveFileUpload()">Upload</button>
                                                </span>
                                            </div>
                                            <!-- change out the existing fileItem with a different one-->
                                            <div *ngIf="fileItemExists">
                                                <div>
                                                    <label class="custom-file-inputChange" for="Upload">
                                                        <p class="required">*</p> {{ siteFiles.FileEntity.name || ' None Chosen' }}
                                                    </label>
                                                    <input #upload [hidden]="true" id="Upload" type="file" max="500000" file-model="existingFile.File1" (change)="getFileName($event)">
                                                </div>
                                                <span *ngIf="fileUploading" class="file-upload-span">
                                                    Correct File?
                                                    <button aria-label="Is this file correct?" mat-button class="save-btn" *ngIf="fileUploading" type="button" (click)="saveFileUpload()">Upload</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div [hidden]="siteFileIsUploading" class="file-button-group">
                                        <button aria-label="Save File" mat-button type="button" class="save-btn primary" *ngIf="siteFiles.FileEntity.file_id !== null" (click)="saveFile()">Save File</button>
                                        <button aria-label="Delete File" mat-button class="delete-btn delete" type="button" *ngIf="siteFiles.FileEntity.file_id !== null" (click)="deleteFile()">Delete File</button>
                                        <button aria-label="Create File" mat-button type="button" class="save-btn primary" *ngIf="siteFiles.FileEntity.file_id == null" (click)="createFile()">Create File</button>
                                        <button aria-label="Close or Cancel File" mat-stroked-button class="secondary" style="margin-left: 10px" type="button" (click)="cancelFile()">Close/Cancel File</button>
                                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="detail-section-buttons centered">
            <button mat-stroked-button class="secondary" [mat-dialog-close]="returnData" cdkFocusInitial aria-label="Close">Close</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        </div>
    </mat-dialog-actions>
</form>

