$black: #050920;
$white: #fff;
$bg: #f9fafe;
$red: #f23d47;
$blue: #3e3bfb;
$lightblue: #a5f2f3;
$lightgrey: #f0f3f4;

$borderColor: fade-out($black, 0.85);

$transition: 0.15s;
$borderRadius: 4px;

// Structure.scss
// Scaffolding and flex styles for basic structure of page

.form-container .mat-form-field {
    width: 90%;
    margin-left: 8px;
    margin-right: 8px;
}

.checkbox-section {
    display: flex;
    align-content: left;
    align-items: left;
    // height: 60px;
    flex-direction: column;
}

.clear-icon {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    display: inline-flex !important;
}

.filter-label {
    font-weight: bold;
    padding: 10px;
}

.event-card {
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;

    label {
        margin-left: 8px;
        font-size: 15px;
    }
}

.form-div {
    padding-top: 10px;
}

.event-title {
    font-weight: bold;
    font-size: 16px;
}

.dropdown-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
}

.dropdown-icon-inline {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
    display: inline !important;
}