$black: #050920;
$white: #fff;
$bg: #f9fafe;
$red: #f23d47;
$blue: #3e3bfb;
$lightblue: #a5f2f3;
$lightgrey: #f0f3f4;

$borderColor: fade-out($black, 0.85);

$transition: 0.15s;
$borderRadius: 4px;

// Structure.scss
// Scaffolding and flex styles for basic structure of page

.form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.form-container .mat-form-field {
    width: 220px;
}

.checkbox-section {
    display: flex;
    align-content: left;
    align-items: left;
    // height: 60px;
    flex-direction: column;
}

.filter-label {
    font-weight: bold;
    padding: 10px;
}
