<form class="form" [formGroup]="mapFilterForm">
    <mat-accordion [multi]="true">
    <!--Event-->
    <mat-expansion-panel [(expanded)]="eventPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Event
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label for="eventType"
                    >Filter Events by Type</mat-label
                >
                <mat-select
                    #eventTypeOptions
                    id="eventTypeOptions"
                    formControlName="eventTypeControl"
                    (selectionChange)="onEventChange()"
                >
                    <mat-option>Any</mat-option>
                    <mat-option
                        *ngFor="
                            let eventType of eventTypes$ | async
                        "
                        [value]="eventType"
                        >{{ eventType.type }}</mat-option
                    >
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label for="eventType"
                    >Filter Events by State</mat-label
                >
                <input
                    matInput
                    id="eventStateOptions"
                    type="text"
                    aria-label="Dropdown menu for state selection"
                    matInput
                    formControlName="eventStateControl"
                    [matAutocomplete]="eventStateAutocomplete"
                />
                <mat-hint
                    >Start typing for suggestions</mat-hint
                >
                <mat-autocomplete
                    #eventStateAutocomplete="matAutocomplete"
                    [displayWith]="displayEventState"
                >
                    <mat-option
                        *ngFor="
                            let eventState of eventStates$
                                | async
                        "
                        (click)="onEventChange()"
                        [value]="eventState"
                        >{{ eventState.state_name }}</mat-option
                    >
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="eventSelect">
                <mat-label for="eventSelection"
                    >Event</mat-label
                >
                <input
                    matInput
                    id="eventSelection"
                    type="text"
                    aria-label="Dropdown menu for storm event selection"
                    matInput
                    formControlName="eventsControl"
                    [matAutocomplete]="eventAutocomplete"
                />
                <mat-hint
                    >Start typing for suggestions</mat-hint
                >
                <mat-autocomplete
                    #eventAutocomplete="matAutocomplete"
                    [displayWith]="displayEvent"
                >
                    <mat-option
                        *ngFor="
                            let event of filteredEvents$ | async
                        "
                        [value]="event"
                    >
                        {{ event.event_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </mat-expansion-panel>

    <!--Networks-->
    <mat-expansion-panel [(expanded)]="networksPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Networks
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">

                <mat-form-field appearance="fill">
                    <mat-label for="networkOptions"
                        >Networks</mat-label
                    >
                    <mat-select
                        id="networkOptions"
                        formControlName="networkControl"
                        multiple
                    >
                        <mat-option
                            *ngFor="
                                let network of networks$ | async
                            "
                            [value]="network.network_name_id"
                            >{{ network.name }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
        </div>
    </mat-expansion-panel>

    <!--Sensor Type-->
    <mat-expansion-panel [(expanded)]="sensorPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sensor Type
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">

                <mat-form-field appearance="fill">
                    <mat-label for="sensorTypes"
                        >Sensor Type</mat-label
                    >
                    <mat-select
                        id="sensorOptions"
                        formControlName="sensorTypeControl"
                    >
                        <mat-option>Any</mat-option>
                        <mat-option
                            *ngFor="
                                let sensorType of sensorTypes$
                                    | async
                            "
                            [value]="sensorType.sensor_type_id"
                            >{{ sensorType.sensor }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            <!-- </form> -->
        </div>
    </mat-expansion-panel>

    <!--States-->
    <mat-expansion-panel [(expanded)]="statesPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                States
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">

                <mat-form-field *ngIf="this.states.length > 0">
                    <mat-chip-list #statesList>
                        <mat-chip
                            *ngFor="let state of selectedStates"
                            [removable]="removable"
                            (removed)="removeState(state)"
                        >
                            {{ state.state_name }}
                            <mat-icon
                                matChipRemove
                                *ngIf="removable"
                                >cancel</mat-icon
                            >
                        </mat-chip>
                        <input
                            aria-label="Select states to filter sites"
                            #stateInput
                            placeholder="States"
                            [matChipInputFor]="statesList"
                            [matChipInputSeparatorKeyCodes]="
                                separatorKeysCodes
                            "
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="
                                add($event)
                            "
                            [matAutocomplete]="statesAutocomplete"
                            formControlName="stateInput"
                        />
                    </mat-chip-list>
                    <mat-autocomplete
                        #statesAutocomplete="matAutocomplete"
                        (optionSelected)="stateSelected($event)"
                    >
                        <mat-option
                            *ngFor="
                                let state of filteredStates$ | async
                            "
                            [value]="state"
                        >
                            {{ state.state_name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
        </div>
    </mat-expansion-panel>

    <!--HWM Surveyed-->
    <mat-expansion-panel [(expanded)]="hmwPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                HWM Surveyed
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">

                <label
                    class="filter-label"
                    aria-label="Optionally select surveyed or not surveyed HWMS"
                    >HWMS Surveyed:</label
                >
                <br />
                <mat-button-toggle-group
                    formControlName="surveyedControl"
                    multiple="true"
                >
                    <mat-button-toggle
                        id="surveyedSelect"
                        value="true"
                        >Surveyed</mat-button-toggle
                    >
                    <mat-button-toggle
                        id="notSurveyedSelect"
                        value="false"
                        >Not Surveyed</mat-button-toggle
                    >
                </mat-button-toggle-group>
        </div>
    </mat-expansion-panel>

    <!--Additional Site Filters-->
    <mat-expansion-panel [(expanded)]="additionalFiltersPanelState" class="small-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Site Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-container">

                <label
                    class="filter-label"
                    aria-label="Optionally select additional site filters"
                    >Additional Site Filters:</label
                >
                <section class="checkbox-section">
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="HWMOnlyControl"
                        >HWM Only Sites</mat-checkbox
                    >
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="sensorOnlyControl"
                        >Sensor Only Sites</mat-checkbox
                    >
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="surveyedOnlyControl"
                        >Surveyed RP Only Sites</mat-checkbox
                    >
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="bracketSiteOnlyControl"
                        >Pre-Deployed Bracket Sites
                        Only</mat-checkbox
                    >
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="RDGOnlyControl"
                        >RDG Only Sites</mat-checkbox
                    >
                    <mat-checkbox
                        aria-checked="false"
                        class="checkbox-margin"
                        formControlName="OPDefinedControl"
                        >Has OP Defined</mat-checkbox
                    >
                </section>
        </div>
    </mat-expansion-panel>
    </mat-accordion>
</form>


