#userManagement {
  margin: 15px;
}

table {
    width: 100%;
  }

#tableFilters {
  margin: auto;
  
}

.topOfTableButton {
  float: right;
  padding: 15px;
}

.search__form_field {
  padding: 10px;
}

.findUserTitle {
  display: inline-block;
  position: relative;
  text-align: left;
}
  