.mat-form-field {
    margin: 15px;
    display: block;
}

.close-button {
    float: right;
}

.checkbox-section {
    display: flex;
    align-content: left;
    align-items: left;
    flex-direction: column;
}

.checkbox-margin {
    padding: 2px;
}

.filter-label {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
}

.info-icon {
    font-size: 20px;
    color: #03274B;
    display: inline-flex !important;
}

.warning-icon {
    font-size: 20px;
    color: #f44336;
    display: inline-flex !important;
}

.right-button {
    margin-left: 5px;
}

.check-icon {
    font-size: 20px;
    display: inline-flex !important;
}

.form-header {
    font-weight: bold;
}

.save-btn {
    color: #F4F4F4;
}

.cancel-btn {
    margin-left: 10px;
    border: 1px solid #404040;
}

.section-title {
    font-weight: bold;
}

.sensor-title {
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.table-container {
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.outer-content{
    display: table;
    margin: auto;
}

.content-right {
    display: table-cell;
    width: 50%;
    text-align: left;
}

.content-left {
    display: table-cell;
    width: 50%;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
}

.cell-container {
    display: table-row;
}

.cell-container p{
    padding: 5px;
    font-size: 15px
}

.button-group {
    float: right;
    button{
        border: 1px solid #404040;
        height: 24px;
        width: 24px;
        padding: 0px;
    }
}

.details-card {
    // Match color of mat-form-field fill
    width: 80%;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 25px;
    margin: auto;
}