// Color Variables

$blue: #1d5fee;
$blue-dark: #1949d5;
$blue-black: #050921;
$blue-light: #3876fa;
$black: #10152c;
$teal: #3dc9d4;
$white: #ffffff;
$bg: #fafcff;
$bg-dark: #eef1fb;
$border-color: fade-out(#a0afcd, 0.6);
$text: #313b57;
$text-light: rgba(0, 0, 0, 0.54);
$red: #ea3b47;
$green: rgb(75, 122, 30);

$transition: 0.125s;
