// Main SCSS file.
// Do not add anything directly to this file.
// Find the appropriate file within the /styles folder

// Custom Style Global Variables
@import './app.variables.scss';

// Universal Imports
@import 'styles/structure.scss';
@import 'styles/text.scss';
@import 'styles/modals.scss';
@import 'styles/header.scss';
@import 'styles/sidebar.scss';

// local style variables
$black: #050920;
$white: #fff;
$bg: #f9fafe;
$red: #f23d47;
$blue: #3e3bfb;

$borderColor: fade-out($black, 0.85);

$transition: 0.15s;
$borderRadius: 4px;

// Specific imports
/* header#main{
    display: flex;
    height: 54px;
    min-height: 54px;
    width: 100%;
    background-color: $black;
} */

* {
    font-family: 'Roboto', sans-serif;
}

#stn-main-toolbar {
	background-color: #02274B;
	justify-content: space-between;
}
#stn-nav-toolbar {
    background-color: #e1e9ef;
}

.activeDevelopment {
    color: red;
    font-weight: bold;
	font-size: 14px;
	font-style: italic;
	padding-left: 10px;
	flex-grow: 3;
}

footer#main {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 58px;
    min-height: 58px;
    width: 100%;
    background-color: $black;
}

@media only screen and (max-width: 600px) {
    .stn-header {
        visibility: hidden;
    }
}

.stn-header {
	position: sticky;
	padding: 4px 15px;
    top: 0;

    .stn-title {
        color: white;
        padding-bottom: 3px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 800;
        display: flex;

        .stn-logo {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                display: block;
                height: 28px;
                width: auto;
                margin-right: 2px;
            }
        }
        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .stn-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        font-weight: 100;
        line-height: 12px;
        box-sizing: border-box;
		color: white;
		font-weight: 300;
    }

    .nav-links {
        box-sizing: border-box;
        padding-bottom: 4px;
    }

    // Header Bottom Row
    .toolbar-bottom-row {
        height: 40px;
        background-color: lighten($black, 6%);
        display: flex;
        justify-content: space-between;

        // App Alert
        .app-header-alert {
            color: #f24d4d;
            font-size: 11px;
            font-weight: 600;
            white-space: normal;
            line-height: 11px;

            b {
                font-weight: 900;
            }
            a {
                color: $blue;
                transition: $transition;
                color: lighten(#f24d4d, 14%);
                text-decoration: underline;

                &:hover {
                    color: lighten(#f24d4d, 22%);
                    transition: $transition;
                }
            }
        }

        button {
            box-sizing: border-box;
            height: 36px;
            position: relative;
            top: -2px;

            span {
                font-size: 12px !important;
            }

            .icon,
            i {
                margin-right: 3px;
            }

            * {
                transition: $transition;
            }

            &:hover {
                cursor: pointer;

                * {
                    color: fade-out($white, 0.35);
                    transition: $transition;
                }
            }
        }

        .left {
            display: block;
            height: 100%;
        }

        .right {
            display: block;
            height: 100%;

            .login-status {
                font-size: 14px;
                padding: 0 5px 0 25px;
                display: inline-block;
                height: 100%;
                vertical-align: top;
                line-height: 38px;
            }
        }
    }
}

.icicles {
    height: 5%;
    width: 20%;
}

.stn-logo {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        display: block;
        height: 28px;
        width: auto;
        margin-right: 2px;
        padding-right: 5px;
    }
}

.navBarBtn {
    cursor: pointer;
}
.navBarBtnActive {
    background-color: #aec2d1;
    color: white;
}


.nav-buttons{
	padding-right: 15px;

	button{
		font-size: 16px !important;
	}
}


////////////////////////
//   USGS FOOTER      //
////////////////////////
// Made a lot smaller, hidden completely on mobile
.usgs-footer{
    background: #02274B;
    box-sizing: border-box;
    padding: 10px 0;
	width: 100%;
	color: rgba(255,255,255,0.5);
    font-size: 12px;

    @media (max-width: 767px) {
        display: none !important;
    }

    .tmp-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;

        .footer-doi{

            a{
                padding: 2px 5px;
                color: rgba(255,255,255,0.8);
                transition: 0.15s;

                &:hover{
                    color: white;
                    transition: 0.15s;
                }
            }

        }
        hr{
            margin: 5px auto !important;
            opacity: 0.2;
        }
    }

    .footer-social-links{
        display: none;
    }
}