<!-- 
  Main wrapper
  Flex column
-->

<!-- <div id="outer"> -->
  

  <!-- 
    Page header 
      - Nav, links, branding, etc
  -->
  <header id="main">
    <a href="/" class="icejam-title">
      <div id="logo">
          <img src=""/>
      </div>
      <span style="color: white;">Ice Jams</span>
    </a>
    <span class="subtitle" style="color: white;">
      <span>real-time information about ice jams.</span>
            <!-- <small></small> -->
    </span>
  </header>

  <footer id="main">
      <div>USGS</div>
    </footer>

<!-- </div> -->

<router-outlet></router-outlet>

<!-- <div class="grid">
  <aside class="sidebar">Sidebar</aside>
  <article class="content">
    <h1>2 column, header and footer</h1>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid.</p>
  </article>
</div> -->

