.mat-expansion-panel-header {
    background-color: #03274B;
}

.mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
    color: #FFF;
    background-color: #03274B; 
}

.mat-expansion-panel-header:hover {
    background-color: #03274B !important;
    color: #FFF !important;
}

.mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
    color: #FFF;
    font-weight: 500;
}

.content-right {
    display: table-cell;
    width: 50%;
    text-align: left;
}

.content-left {
    display: table-cell;
    width: 50%;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
}

.cell-container {
    display: table-row;
}

.cell-container p{
    padding: 5px;
    font-size: 15px
}

.close-btn {
    border: 1px solid #404040;
}

.close-button {
    float: right;
}

.title {
    font-weight: bold;
    padding: 5px;
}

.header {
    padding-left: 5px;
}

.file {
    padding-left: 10px;
}

.sensor-group {
    padding-bottom: 5px;
}
