<div>
  <div id="eventSubmissionPage">
    <mat-card>
      <div id="eventSubmissionHeader">
        <b>Create Event</b>
        <small>Submit an Ice Jam event</small>
      </div>
      <!-- <mat-card-content> -->
      <form>
        <h4>Basic Information</h4>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control">
            <mat-select placeholder="Jam Type" [formControl] name="food" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-control">
            <input matInput [matDatepicker]="picker" placeholder="Jam Date"> <!-- ObservationDateTime -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control-shortest">
            <mat-select placeholder="State" [formControl] name="food" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field class="form-control-short">
            <mat-select placeholder="City" [formControl] name="food" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field class="form-control-short">
            <mat-select placeholder="County" [formControl] name="food" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control-short">
            <mat-select placeholder="River Name" [formControl] name="food" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-control-shortest">
            <mat-select placeholder="HUC" [formControl] name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-control-shortest">
            <mat-select placeholder="USGSID" [formControl] name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-control-shortest">
            <mat-select placeholder="AHPSID" [formControl] name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <hr>
        <h4>Conditions</h4>

        <!-- UpstreamEndLocation & DownstreamEndLocation -->
        <div class="horizontal-form-container">
          <h5>Location of downstream <br>end of ice cover:</h5>
          <br>
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Latitude"> <!--  formControlName="latitude" -->
            <mat-error>Invalid
              latitude</mat-error>
          </mat-form-field>
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Longitude"> <!--  formControlName="longitude" -->
            <mat-error>Invalid
              longitude</mat-error>
          </mat-form-field>
        </div>

        <div class="horizontal-form-container">
          <h5>Location of upstream <br>end of ice cover:</h5>
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Latitude"> <!--  formControlName="latitude" -->
            <mat-error>Invalid
              latitude</mat-error>
          </mat-form-field>
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Longitude"> <!--  formControlName="longitude" -->
            <mat-error>Invalid
              longitude</mat-error>
          </mat-form-field>
        </div>


        <div class="horizontal-form-container">

          <mat-radio-group class="example-radio-group">
            <h5>Surface Roughness:</h5>
            <mat-radio-button class="example-radio-button" *ngFor="let rough of roughness" [value]="rough">
              {{rough}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="horizontal-form-container">
          <mat-form-field class="form-control">
            <mat-select placeholder="Ice Conditions" [formControl] name="ice" required>
              <mat-option *ngFor="let ice of iceconditions" [value]="ice.value">
                {{ice.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <hr>
        <h4>Observer</h4>
        <div class="horizontal-form-container">
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Name"> <!--  formControlName="latitude" -->
          </mat-form-field>
        </div>
        <div class="horizontal-form-container" style="display: block;">
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Comments"></textarea>
          </mat-form-field>
        </div>
        <div style="text-align: center;">
          <button mat-raised-button color="accent" style="font-weight: bold;">Submit</button>
        </div>
      </form>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
</div>