<div>
  <div id="eventSubmissionPage">
    <mat-card>
      <div id="eventSubmissionHeader">
        <b>Create an Ice Jam on {{this.siteName}}</b>
        <small>Submit an Ice Jam event</small>
      </div>
      <!-- <mat-card-content> -->
      <form [formGroup]="eventSubmissionForm">
        <h4>Basic Information</h4>
        <label class="form-control">
          Date Time:
          <input formControlName="observationDateTime" placeholder="Date Time:" [(ngModel)]="dateTime"
            [owlDateTimeTrigger]="dt" [owlDateTime]="dt" required>
          <owl-date-time #dt></owl-date-time>
        </label>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control">
            <mat-select placeholder="Jam Type" formControlName="jamTypeID" required>
              <mat-option *ngFor="let jamType of jamTypeResults" [value]="jamType.id">
                {{jamType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- observationDateTime -->
        <span>
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
          </mat-form-field>
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Comments" formControlName="comments" required></textarea>
          </mat-form-field>
        </span>

        <hr>
        <h4>Ice Conditions</h4>

        <!-- UpstreamEndLocation & DownstreamEndLocation -->
        <div class="horizontal-form-container" formGroupName="iceConditions">
          <label class="form-control">
            Date Time:
            <input formControlName="dateTime" placeholder="Date Time:" [(ngModel)]="dateTimeIce" [owlDateTimeTrigger]="dt1"
              [owlDateTime]="dt1" required>
            <owl-date-time #dt1></owl-date-time>
          </label>
        </div>

        <div class="horizontal-form-container" formGroupName="iceConditions">

          <mat-form-field class="form-control">
            <mat-select placeholder="Ice Conditions" formControlName="iceConditionTypeID" required>
              <mat-option *ngFor="let iceConditionType of iceConditionTypes" [value]="iceConditionType.id">
                {{iceConditionType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Measurement" formControlName="measurement">
          </mat-form-field>

          <mat-radio-group placeholder="Estimated?" formControlName="isEstimated">
            <h5>Estimated?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group placeholder="Changing?" formControlName="isChanging">
            <h5>Changing?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>

        <div class="horizontal-form-container" formGroupName="iceConditions">
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
          </mat-form-field>
        </div>

        <div formGroupName="iceConditions">
          <h5>Location of downstream end of ice cover:</h5>
          <div class="horizontal-form-container" formGroupName="upstreamEndLocation">
            <mat-form-field class="form-control" formGroupName="coordinates">
              <input matInput placeholder="latitude" formControlName="latitude">
              <!--  formControlName="latitude" -->
              <mat-error>Invalid
                latitude</mat-error>
            </mat-form-field>
            <mat-form-field class="form-control" formGroupName="coordinates">
              <input matInput placeholder="longitude" formControlName="longitude">
              <!--  formControlName="latitude" -->
              <mat-error>Invalid
                longitude</mat-error>
            </mat-form-field>
            <br>
          </div>
          <h5>Location of downstream end of ice cover:</h5>
          <div class="horizontal-form-container" formGroupName="downstreamEndLocation">
            <mat-form-field class="form-control" formGroupName="coordinates">
              <input matInput placeholder="latitude" formControlName="lat">
              <!--  formControlName="latitude" -->
              <mat-error>Invalid
                latitude</mat-error>
            </mat-form-field>
            <mat-form-field class="form-control" formGroupName="coordinates">
              <input matInput placeholder="longitude" formControlName="long">
              <!--  formControlName="latitude" -->
              <mat-error>Invalid
                longitude</mat-error>
            </mat-form-field>
            <br>
          </div>
        </div>

        <div class="horizontal-form-container" formGroupName="iceConditions">
          <mat-form-field class="form-control">
            <mat-select placeholder="Roughness Type" formControlName="roughnessTypeID">
              <mat-option *ngFor="let roughType of roughnessTypes" [value]="roughType.id">
                {{roughType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-radio-group class="example-radio-group">
              <h5>Surface Roughness:</h5>
              <mat-radio-button class="example-radio-button" *ngFor="let roughType of roughnessTypes" [value]="roughType.name">
                {{roughType.name}}
              </mat-radio-button>
            </mat-radio-group> -->
        </div>

        <hr>
        <h4>River Conditions</h4>

        <!-- UpstreamEndLocation & DownstreamEndLocation -->
        <div class="horizontal-form-container" formGroupName="riverConditions">
          <label class="form-control">
            Date Time:
            <input formControlName="dateTime" placeholder="Date Time:" [(ngModel)]="dateTimeRiver" [owlDateTimeTrigger]="dt2"
              [owlDateTime]="dt2">
            <owl-date-time #dt2></owl-date-time>
          </label>
        </div>
        <div class="horizontal-form-container" formGroupName="riverConditions">
          <mat-form-field class="form-control">
            <mat-select placeholder="River Condition" formControlName="riverConditionTypeID">
              <mat-option *ngFor="let riverConditionType of riverConditionTypes" [value]="riverConditionType.id">
                {{riverConditionType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="horizontal-form-container" formGroupName="riverConditions">
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Measurement" formControlName="measurement">
          </mat-form-field>
          <mat-radio-group placeholder="Estimated?" formControlName="isFlooding">
            <h5>Flooding?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group placeholder="Changing?" formControlName="isChanging">
            <h5>Changing?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="horizontal-form-container" formGroupName="riverConditions">
          <mat-form-field class="form-control">
            <mat-select placeholder="Stage" formControlName="stageTypeID">
              <mat-option *ngFor="let stageType of stageTypes" [value]="stageType.id">
                {{stageType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="horizontal-form-container" formGroupName="riverConditions">
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
          </mat-form-field>
        </div>
        <br>

        <hr>
        <h4>Weather Conditions</h4>

        <!-- UpstreamEndLocation & DownstreamEndLocation -->
        <div class="horizontal-form-container" formGroupName="weatherConditions">
          <label class="form-control">
            Date Time:
            <input formControlName="dateTime" placeholder="Date Time:" [(ngModel)]="dateTimeWeather"
              [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
            <owl-date-time #dt3></owl-date-time>
          </label>
        </div>

        <div class="horizontal-form-container" formGroupName="weatherConditions">
          <mat-form-field class="form-control">
            <mat-select placeholder="Weather Condition" formControlName="weatherConditionTypeID">
              <mat-option *ngFor="let WeatherConditionType of WeatherConditionTypes" [value]="WeatherConditionType.id">
                {{WeatherConditionType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="horizontal-form-container" formGroupName="weatherConditions">
          <mat-form-field class="form-control-shortest">
            <input matInput placeholder="Measurement" formControlName="measurement">
          </mat-form-field>

          <mat-radio-group placeholder="Estimated?" formControlName="isEstimated">
            <h5>Estimated?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group placeholder="Changing?" formControlName="isChanging">
            <h5>Changing?</h5>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="horizontal-form-container" formGroupName="weatherConditions">
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
          </mat-form-field>
        </div>

        <h4>Damages</h4>

        <div class="horizontal-form-container" formGroupName="damages">
          <label class="form-control">
            Date Time:
            <input formControlName="dateTimeReported" placeholder="Date Time:" [(ngModel)]="dateTimeDamages"
              [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
            <owl-date-time #dt4></owl-date-time>
          </label>
        </div>

        <div class="horizontal-form-container" formGroupName="damages">
          <mat-form-field class="form-control">
            <mat-select placeholder="Damage types" formControlName="damageTypeID">
              <mat-option *ngFor="let damageType of damageTypes" [value]="damageType.id">
                {{damageType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="horizontal-form-container" formGroupName="damages">
          <mat-form-field class="comments-section">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </form>
      <hr>
      <div style="text-align: center;">
        <button mat-raised-button color="accent" style="font-weight: bold;" [disabled]="eventSubmissionForm.invalid" (click)="submitEvent(eventSubmissionForm.value)">Submit
          Site Visit</button>
      </div>

      <!-- <div class="temporary-form-value-display ">
        <h3>Temporary Form Value display (not for production)</h3>
        <p>Form Event (ice jam):
          <pre> {{eventSubmissionForm.value | json}} </pre>
      </div> -->
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
</div>