<h1 mat-dialog-title>
  <i class="material-icons">
    search
  </i> 
  <span>Search the Short Term Network</span>
</h1>


<mat-dialog-content>

  <form [formGroup]="filtersForm" class="autocomplete-form" autocomplete="off">

    <mat-divider></mat-divider>

    <mat-accordion>

      <!-- Event type expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Event</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="example-full-width">
              <input type="text"
                     placeholder="Event"
                     aria-label="Event"
                     matInput
                     [formControl]="eventsControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Event type expansion panel -->

    </mat-accordion>
  </form>

</mat-dialog-content>
<mat-dialog-actions>

  <div class="form-buttons-flex">
    <div>
      <button mat-button (click)="clearSelection()">
        <mat-icon class="material-icons">clear_all</mat-icon> Clear Selection
      </button>
      <button mat-button (click)="this.filtersDialogRef.close('cancel');">
        <mat-icon class="material-icons">cancel</mat-icon> Cancel
      </button>
    </div>
    <span class="text-small text-light">Parameters are connected by the 'AND' logical operator</span>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="material-icons">search</mat-icon> Search
      </button>
    </div>
  </div>

</mat-dialog-actions>