.mat-form-field {
    margin: 15px;
    display: block;
}

.form-header {
    font-weight: bold;
}

.radio-btn-group {
    margin: 15px;
}

.radio-button {
    margin: 5px;
}

.row {
    margin-bottom: 15px;
}

.upload-file {
    margin-left: 20px;
}

.custom-file-input::-webkit-file-upload-button, .custom-file-inputChange::-webkit-file-upload-button, .custom-file-input-add::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input-add::before {
    content: 'Choose File';
    display: inline-block;
    background: #FFF;
    border: 1px solid #404040 !important;
    border-radius: 4px;
    padding: 0px 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 36px;
    margin-top: 10px;
}

.custom-file-input::before {
    content: 'Re-Upload File';
    display: inline-block;
    background: #FFF;
    border: 1px solid #404040 !important;
    border-radius: 4px;
    padding: 0px 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 36px;
    margin-top: 10px;
}

.custom-file-inputChange::before {
    content: 'Replace Associated File';
    display: inline-block;
    background: #FFF;
    border: 1px solid #404040 !important;
    border-radius: 4px;
    padding: 0px 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 36px;
    margin-top: 10px;
}

.required {
    margin-left: 5px !important;
    color: #E70000 !important;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    line-height: 36px !important;
    height: 36px;
}

.info-icon {
    font-size: 20px;
    color: #03274B;
    display: inline-flex !important;
}

.file-upload-span {
    padding-top: 10px;
}

.loading {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:9999;
}

.close-button {
    float: right;
}

.download-icon {
    vertical-align: middle;
}

.checkbox-margin {
    margin-left: 15px;
}