$black: #050920;
$white: #fff;
$bg: #F9FAFE;
$red: #F23D47;
$blue: #3E3BFB;
$lightblue: #A5F2F3;
$lightgrey: #f0f3f4;

$borderColor: fade-out($black, 0.85);


$transition: 0.15s;
$borderRadius: 4px;

// Structure.scss
// Scaffolding and flex styles for basic structure of page
* {
    font-family: 'Roboto', sans-serif;
}

#outer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    // Body wrapper
    //  Includes sidebar and main content
    #body{
        display: flex;
        flex-grow: 3;


        /* #sidebar{
            display: block;
            width: 280px;
            background-color: $lightgrey;
            border-right: 1px solid $borderColor;
            box-sizing: border-box;
            padding: 15px;
            overflow: auto; */
            

            #newEventButton {
                position: absolute;
                top: 10%;
                /* right: 20px; */
                /* padding: 10px; */
                z-index: 400;
                left: 4%;
            }
        }

        main{
            display: block;
            background-color: $lightgrey;
            flex-grow: 3;
            overflow: auto;
        }
    /* } */
}

#map{
    display: block;
    width: 100%;
    height: 400px;
    background-color: fade-out($black, 0.8);
}

.block{
    display: block;
    box-sizing: border-box;
    padding: 15px;
}

.legend {
    position: absolute;
    padding: 4px;
    // bottom: 60px !important;
    top: 10px;
    //left: 15px;
    right: 10px;
    width:200px;
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.87;
}

.latLngScale {
    position: absolute;
    padding: 4px;
    bottom: 15px !important;
    left: 15px;
    /*width:250px*/
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    cursor: pointer;
}  

.latLngScale:hover .hover-content {
    display: inline-block;
}

#sidebarFilter{

    margin-top: 20px;

    .mat-list .mat-subheader{
        padding: 0 0 6px 0;
        height: auto;
    }

    .mat-list .mat-list-item.mat-2-line{
        height: auto;
    }

    .mat-expansion-panel-body{
        padding-bottom: 0;
    }

    .search-button-row{
        padding-bottom: 0;

        button{
            background-color: white;
            margin: 0 auto 10px auto !important;
            display: block;
            width: 100%;
            border: 1px solid fade-out(#D5DCEA, 0.5);
            border-radius: 4px;
        }

    }
    


}
.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }
  