<!-- 
    Main body wrapper 
    Main body wrapper 
    Main body wrapper 
  -->
<div id="outer">
  <div id="body">

    <!-- 
      Sidebar
      Sidebar
     -->
    <div id="sidebar">
      <div id="newEventButton">
        <a mat-raised-button color="accent" style="font-weight: bold;" routerLink="/addSite">
          <mat-icon>add</mat-icon>New Site
        </a>
      </div>
      <div style="text-align: center;">
        <hr>
        <h4>Show currently forming Ice Jams:</h4>
        <mat-slide-toggle></mat-slide-toggle>
      </div>

      <mat-expansion-panel id="sidebarFilter">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Quick Filters?</h3>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <div>
            <span>bleep. bloop.</span>
          </div>
        </mat-expansion-panel>
    </div> <!-- End Sidebar -->

    
    <!-- 
      Content 
      Content 
      Content 
    -->
    <main>

      <!-- Map -->
      <div id="map">
        <div id="latLngScale" class="latLngScale">
          <span class="hover-content"> <b>Map scale </b></span>
          1:<span id="scale">{{mapScale}}</span> | <span class="hover-content"> <b>Zoom level </b></span> <span id="zoomLevel">
            {{zoomLevel}}</span><br>
          <span class="hover-content"><b>Latitude</b></span>
          <span id="latitude"> {{latitude}}</span> |
          <span class="hover-content"> <b>Longitude</b></span>
          <span id="longitude"> {{longitude}}</span>
          <span id="mapCenterLabel" class="hover-content"></span>
        </div>
      </div>



      <div class="block">
        <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
          </cdk-nested-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
            <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>
      </div>


    </main> <!-- End Main Content -->


  </div><!-- End Main Body Wrapper-->
</div>