table {
    width: 100%;
}

.mat-column-Event{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-Deployment-Type{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
} 

.mat-column-Housing-Type{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-Status{
    padding: 10px;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-Location-Description{
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    align-self: stretch;
}

.mat-column-Sensor-Type{
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #e0e0e0;
    align-self: stretch;
}

#noSensorContainer{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.mat-header-cell {
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.87);
    font-size: 12px;
    vertical-align: middle;
    background-color: #f7f7f7;
}

.close-button {
    float: right;
}

.no-sensor-content p{
    padding-left: 5px;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
    overflow: auto;
}

.deployed-icon {
    font-size: 20px;
    vertical-align: top;
    width: 20px;
    height: 20px;
}